﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Pre-Primary Wing | ODM Public School</title>
    <meta name="description" content="The best in class kid's world for learning and physical and mental growth. It is the pre-primary wing of ODM PUBLIC SCHOOL that has Nursery, Lower and Upper Kindergarten classes.">
    <meta name="keywords" content="Kids's World academic,Kids's World academic in ODM,Kids's World academic in odm public school,Kids's World academic of ODM,Kids's World academic of odm public school,academic of odm,academic of odm public school">
    <link rel="canonical" href="https://www.odmps.org/Academics/kids_world" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Students  Activity.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>LEARNING WITH ALL THE FUN</h1>
                                <p>Teaching students the basics with a lot of fun events</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Kid's World." href="/Academics/kids_world" class="post post-page current-item">
                            <span property="name">Kids's World</span>
                        </a><meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left">
                        </span>
                    </div>
                    <div class="close"><span class="close">×</span></div>
                </div>



                <ul class="">
                    <li class="active"> <a href="/Academics/kids_world">Kids's World</a> </li>
                    <li> <a href="/Academics/Primary">Primary</a> </li>
                    <li> <a href="/Academics/Secondary">Secondary</a> </li>
                    <li> <a href="/Academics/sr_secondary">Senior Secondary</a> </li>
                    <li> <a href="/Academics/Competitives">Competitives</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>About Kids's World</h1>
                        <div class="panel-group" id="custom-collapse-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-0">Overview</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-0" class="panel-collapse in">
                                    <div class="panel-body">
                                        <p>Education at ODM PUBLIC SCHOOL is  an integrated process with a flexible curriculum that takes into account the heterogeneity of the learner and learning styles. Emphasis is laid on acquiring linguistic and logical ability and nurturing multiple intelligences by adopting innovative methods to stimulate interest and attention among the students. This opens up pathways to  a holistic and harmonious development of the young learners.</p>

                                        <ul class="">
                                            <li>The Pre-Primary wing of ODM PUBLIC SCHOOL has Nursery, Lower and Upper Kindergarten classes.</li>
                                            <li>We follow the schedule and programmes with a fair amount of flexibility. Chances are made from time to time as demanded by the environment and the emerging situations in the classroom.</li>
                                            <li>The students are graded regularly on the basis of participation and performance in class activities.</li>
                                            <li>Area of growth and development : Physical, Language, Personal, Emotional, Social, Intellectual/ Cognitive Aesthetic Development, etc.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-1">Subject</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            <ul class="">
                                                <li><h4>English</h4> Alphabets (A-Z) are introduced for the sake of recognise of letters and correct pronunciation (phonetically)</li>
                                                <li><h4>Numbers and Numerals</h4> Develops child’s ability to recognise and write basic numbers (1-9).<br />In KG numbers are added (1-100). The concepts of big/small, more/ less etc. with a clear perspective of shapes are taken up.</li>
                                                <li><h4>Hindi</h4> From class KG onwards : Begin with recognition of letters, pronunciation and use in the form of simple words and sentences.</li>
                                                <li><h4>Art</h4> Covers a creative and wonderful world of colours.</li>
                                            </ul>
                                        </p>
                                        <h3>
                                            NURSERY
                                        </h3>
                                        <p>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Sl. No.</th>
                                                        <th>Subject</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>English</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Numbers</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Art &amp; Craft</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Rhymes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Story</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </p>
                                        <h3>
                                            KINDERGARTEN (LKG &amp; UKG)
                                        </h3>
                                        <p>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Sl. No.</th>
                                                        <th>Subject</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>English</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Numbers</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Art &amp; Craft</td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Rhymes</td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Story</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-2">Teaching – Learning Strategies</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>Activity Based – Child friendly activities</li>
                                            <li>Creative Art and Craft activities</li>
                                            <li>Puppets: Use of puppetry to conduct classes</li>
                                            <li>Songs, Rhymes</li>
                                            <li>Audio- Visual Classes</li>
                                            <li>Educational trips</li>
                                            <li>Outdoor Activities: Games</li>
                                            <li>Stage Activities: Dancing, Enacting, Rhymes, Role play.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-3">Value Based Education</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>The focus on value education is strong in ODM PUBLIC SCHOOL. The students imbibe the essential qualities of honesty, fair play, empathy, courage, integrity, compassion, celebration of festivals and day to day interaction with teachers.</p>
                                        <ul>
                                            <li>Importance of values are kept in mind while preparing and designing lesson.</li>
                                            <li>Day begins with morning assembly- where prayers, rhymes, exercises and celebration of special days are conducted.</li>
                                            <li>The story time at the end of the day has a moral for each story that is told.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-4">Evaluation and Assessment</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul>
                                            <li>On the basis of individual growth and development of the child.</li>
                                            <li>No homework given.</li>
                                            <li>Report card and remarks are given.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/IPSITA MISHRA.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">IPSITA MISHRA</p><p class="designation">Student, Class II</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM is a great school to learn and to become a better student and person. The curriculum here is very precise and challenging. We have science fairs year round and go on numerous educational and fun field trips. If you listen and follow directions there is no reason why you should not succeed with flying colors.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


