﻿
@{   
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Experiemental & Conceptual Learning | Learn from the best | ODM Public School</title>
    <meta name="description" content="Having conceptual knowledge is the first step towards experimental learning. ODMPS provides a learning environment for its students that helps them to have a clear and strong fundaments and are ready to take upon challenges.">
    <meta name="keywords" content="Senior Secondary academic in odm,Senior Secondary academic of odm public school,Senior Secondary academic,academic of odm,academic of odm public school" />
    <link rel=" canonical" href="https://www.odmps.org/Academics/sr_secondary" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/ODM Students in a Lab (Phy).jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>EXPERIMENTAL LEARNING- BEST FORM OF LEARNING</h1>
                                <p>Learning by Doing, helps you go through the whole process of discovery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Senior Secondary." href="/Academics/sr_secondary" class="post post-page current-item">
                            <span property="name">Senior Secondary</span>
                        </a><meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li> <a href="/Academics/kids_world">Kids's World</a> </li>
                    <li> <a href="/Academics/Primary">Primary</a> </li>
                    <li> <a href="/Academics/Secondary">Secondary</a> </li>
                    <li class="active"> <a href="/Academics/sr_secondary">Senior Secondary</a> </li>
                    <li> <a href="/Academics/Competitives">Competitives</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div><div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Senior Secondary</h1>
                        <div class="panel-group" id="custom-collapse-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-0">Overview</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-0" class="panel-collapse in">
                                    <div class="panel-body">
                                        <p>At ODM, Senior Secondary education is based on CBSE Curriculum. The major objective is to make students fundamentally clear about the concepts so that it will be helpful for them either in the competitive or in the future streams of academics. The teachers in the senior secondary department are widely experienced in providing CBSE teaching. The minimum teaching experience of any of our teacher is 7 years. The average teaching experience of all our teachers in 12.5 years.</p>
                                        <p>The children can choose from a wide variety of subjects. In Science, English, Physics, Chemistry are the three compulsory subjects. Apart from that the children can choose any two subjects out of Mathematics, Biology, Computer Science and Physical Education as 4th and 5th Optional. Please note, a combination of Biology and Comp. Sc is not allowed because of certain constraints.</p>
                                        <p>In commerce, similarly, students have to study English, Economics, Business Studies and Accountancy as four main subjects. They can choose either Entrepreneurship or Physical Education, as their 5th Optional.</p>
                                        <p>Along with these, all the Science and Commerce students are provided with an option to choose a 6th optional as well. Odissi and Painting are two subjects that are provided to the children. These subjects are provided to children to ensure a higher aggregate for them in the CBSE Boards.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-2">Examinations and Worksheets</a></h4>
                                </div>
                                <div id="custom-collapse-0-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Students are provided with Worksheets for each and every chapter which they need to practice. These worksheets are carefully devised by our own internal teaching groups and they are updated every where. These worksheets, The Lesson Based Assessments, are the materials provided to all the children.</p>
                                        <p>These worksheets are self-sufficient for the practice of all the students and if a child practises these sheets thoroughly, then the child will definitely secure good marks. </p>
                                        <p>Continuous evaluation are a big part of ODM’s Evaluation System. In ODM, the following tests are conducted-</p>
                                        <ul class="">
                                            <li>Every Week, A Weekly test is conducted of 40 marks whose marks carry a certain amount of weightage in the annual examination.</li>
                                            <li>Quarterly Tests- These tests are conducted with quarterly portions and are conducted once in three months.</li>
                                            <li>Half-Yearly and Annual- These tests are conducted with half and full syllabus respectively.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-3">Remedial Classes and Competitives</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>We are focussed for the growth of each and every child in our school. That is why students are subdivided into smaller groups based on the academic capabilities. </p>
                                        <p>Students with weaker performances in academics are provided with Extra-Remedial Classes beyond school hours by our school teachers which will help them to grow more in the subjects they are weak at.</p>
                                        <p>Top-Performing students are put into a separate group, where they are provided with separate guidance to crack competitive exams like Maths Olympiad, Science Olympiad and NTSE.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-4">Mentoring Program</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Each student is tagged along to a teacher who is responsible for the performance of the child in the school. </p>
                                        <p>The mentor ensures the child’s study plan back at home is set right or not, the child is motivated enough or not. He also ensures that child has least academic difficulty and all the grievances of the child are taken care of.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/SANAT KUMAR NATH.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">SANAT KUMAR NATH</p><p class="designation">Student, Class XI</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                I learned really much in this time. I really liked my teachers and learned and understand everything because they also explained everything to me, whenever I had a question.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>