﻿@{
    ViewBag.Title = "EmployeeSalarydetails";
    Layout = "~/Views/Shared/_SalaryLayoutPage.cshtml";
}
<link href="~/Content/modalStyleSheet.css" rel="stylesheet" />
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Employee Salary</h4>
                    <hr />
                    <div class="box-tool box-tooll text-left">
                        @using (Html.BeginForm("EmployeeSalarydetailsbymonthandyear", "Salary", FormMethod.Post, new { @class = "form-horizontal", id = "validation-form" }))
                        {
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-5 control-label">Month*</label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        <select id="month" name="month" class="form-control" required data-msg-required="Please select month">
                                            <option value="0">Select Month</option>
                                            @for (var i = 0; i < 12; i++)
                                            {
                                                <option value="@(i+1)" @(ViewBag.month == i ? "selected" : "")>@System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i] </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="textfield5" class="col-sm-3 col-lg-5 control-label">Year*</label>
                                    <div class="col-sm-9 col-lg-7 controls">
                                        <select id="year" name="year" class="form-control" required data-msg-required="Please select year">
                                            <option value="0">Select Year</option>
                                            @for (var i = 1990; i <= DateTime.Now.Year; i++)
                                            {
                                                <option value="@i" @(ViewBag.year == i ? "selected" : "")>@i </option>
                                            }
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group last box-tooll">
                                    <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                        <button id="btnadd" type="submit" class="btn btn-primary"><i class="fa fa-search"></i><span> Search</span></button>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                        <div class="box-tool box-tooll text-right">
                            <a class="btn btn-primary" id="myBtn"><i class="fa fa-envelope"></i><span> Send Salary Slip</span></a>
                            <a class="btn btn-primary" href="/Salary/createoreditEmployeeSalary"><i class="fa fa-plus"></i><span> Create</span></a>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="table-responsive">
                            <table class="table table-advance" id="table1">
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Department</th>
                                        @*<th>Designation</th>*@
                                        <th>Month Year</th>
                                        <th>Total</th>
                                        <th>Deduction</th>
                                        <th>Net Salary</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.EmployeesalaryList != null)
                                    {
                                        int i = 0;
                                        foreach (var y in ViewBag.EmployeesalaryList)
                                        {
                                            string encodedid = odm_site.Models.Encodings.Base64EncodingMethod(y.id.ToString());
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@y.Code</td>
                                                <td>@y.Name</td>
                                                <td>@y.Mobile</td>
                                                <td>@y.Department</td>
                                                @*<td>@y.Designation</td>*@
                                                <td>@y.monthyear</td>
                                                <td>@y.totalSalary</td>
                                                <td>@y.netdeduction</td>
                                                <td>@y.netsalary</td>
                                                <td>
                                                    <a class="fa fa-envelope" href="/Salary/SendSalarySlipByID/@y.id"></a>&nbsp;&nbsp;&nbsp;
                                                    <a class="fa fa-eye" href="/Report/ReportPages/SalaryReport.aspx?type=Salaryslip&sid=@encodedid"></a>&nbsp;&nbsp;&nbsp;
                                                    <a class="fa fa-pencil" href="/Salary/createoreditEmployeeSalary/@y.id"></a>&nbsp;&nbsp;&nbsp;
                                                    <a class="fa fa-trash-o" href="/Salary/removeEmployeeSalary/@y.id"></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7">No Records Found</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Send Salary Slip</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="form-group">
                            <div class="col-md-3">
                                Month
                            </div>
                            <div class="col-md-9">
                                <select id="month1" name="month1" class="form-control select2" required data-msg-required="Please select month" style="width:100%;">
                                    @for (var i = 0; i < 12; i++)
                                    {
                                        <option value="@(i+1)">@System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i] </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group">
                            <div class="col-md-3">
                                Year
                            </div>
                            <div class="col-md-9">
                                <select id="year1" name="year1" class="form-control select2" required data-msg-required="Please select year" style="width:100%;">
                                    @for (var i = 1990; i <= DateTime.Now.Year; i++)
                                    {
                                        <option value="@i">@i </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="form-group text-center">
                            <button type="submit" id="btnsend" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Send</span></button>
                        </div>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            
        </div>

    </div>

</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    $(document).ready(function () {
        $('#btnsend').click(function () {
            $("#divloader").show();
            $.get('/Salary/SendSalarySlip', { month: $('#month1').val(), year: $('#year1').val() }, function (data) {
                if (data == 1) {

                    alert("Send Successfully");
                    modal.style.display = "none";
                }
                else if (data == 0) {

                    alert("Error Occured");
                    modal.style.display = "none";
                }
                $("#divloader").hide();
            })
        })
    })
</script>
