﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title | Cambridge English</title>

    <meta name="keywords" content="learning English for adults, how learn English language,  adult learning English, Why train cambridge english, english language learners, english study, Why choose Cambridge, english spoken, cambridge english language" />
    <meta name="description" content="Cambridge English has a unique approach to teaching, learning and assessing English driven by its commitment to excellence and underpinned by world-class research." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="prev" href='#' />
    <link rel="next" href='#' />
    <link rel="icon" href='~/Content/images/ODM School task bar logo.png' />
    <link rel="stylesheet" media="screen" href='~/cambridge/css/local-publication.css?v=2.5' />
    <link rel="stylesheet" media="screen" href='~/cambridge/css/local-business.css?v=1.6' />
    <link rel="stylesheet" media="screen" href='~/cambridge/assets/css/style.css?v=2.6' />
    <link rel="stylesheet" media="print" href='~/cambridge/assets/css/print.css?v=0.4' />


    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @*<link href="~/cambridge/static-assets/styles/other/local-publication?v=eIKQHQa6KdONvHfIVrpzllywI_NOlPdByJeNQadpE5k1" type="text/css" rel="stylesheet" />

        <link href="~/cambridge/static-assets/styles/other/local-business?v=eIKQHQa6KdONvHfIVrpzllywI_NOlPdByJeNQadpE5k1" type="text/css" rel="stylesheet" />

        <link href="~/cambridge/static-assets/styles/other/style?v=khe5BwBYfoMgQbmA7B-eJkOIYUdxhHLXZ19q8SZO-WY1" type="text/css" rel="stylesheet" />

        <link href="~/cambridge/static-assets/styles/main?v=046yQtae0C1Caahicuc481aKanpkN2WFKZRmkS0bcoo1" type="text/css" rel="stylesheet" />

        <link href="~/cambridge/static-assets/styles/print?v=J5mHz4a884nQXFg7hnkldiMypySeIB0z64x0nIxt8O01" type="text/css" rel="stylesheet" media="print" />

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700" rel="stylesheet">

        <script type="text/javascript" src="/cambridge/static-assets/scripts/header?v=XbzmhCOmrxyr1ne7AVF4R9SPet-Qw3eGEkNh1wfOKDA1"></script>*@



    <!--[if (IE 7)|(IE 8)]><script type="text/javascript" src="/assets/js/vendor/respond/respond.min.js"></script>
    <![endif]-->
    @*<noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=1894732264084242&ev=PageView&noscript=1" />
        </noscript>
        <link rel="apple-touch-icon" href='/images/icons/apple-touch-icon.png'>*@
    @*<script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Cambridge Assessment English",
            "url":"http://www.cambridgeenglish.org/",
            "logo": "http://www.cambridgeassessment.org.uk/Images/cambridge-assessment-english-home.jpg",
            "sameAs" : [
            "https://twitter.com/CambridgeEng",
            "https://www.linkedin.com/company/cambridge-assessment-english",
            "https://www.facebook.com/CambridgeEnglish/",
            "https://www.youtube.com/user/cambridgeenglishtv",
            "https://instagram.com/cambridgeenglish/"
            ]
            }
        </script>*@
</head>
<body id="anchor-top" class="landing-page ">

    <div class="header-tray">
        <div class="header-tray_container">
            <div class="header-tray_wrap">
                <p class="header-tray_location">
                    <a href="#anchor-other-sites" class="anchor--in-page header-tray_location-link">
                        View related sites
                    </a>
                </p>
                <div class="header-tray_right-links">
                    <ul class="header-tray_list header-tray_list--first">
                        <li>
                            <a href="#" title="Recognition" class="link--internal header-tray_icon--recognition">Recognition</a>
                        </li>
                        <li>
                            <a href="#" title="Agents" class="link--internal header-tray_icon--agents">Agents</a>
                        </li>
                        <li>
                            <a href="#" title="Consultancy" class="link--internal header-tray_icon--consultancy">Consultancy</a>
                        </li>
                        <li>
                            <a href="#" title="Research" class="link--internal header-tray_icon--research">Research</a>
                        </li>
                    </ul><ul class="header-tray_list header-tray_list--second">
                        <li>
                            <a title="Facebook" target="_blank" href="https://www.facebook.com/CambridgeEnglish" class="link--external header-tray_icon--facebook">Facebook</a>
                        </li>
                        <li>
                            <a title="Twitter" target="_blank" href="https://twitter.com/CambridgeEng" class="link--external header-tray_icon--twitter">Twitter</a>
                        </li>
                        <li>
                            <a title="YouTube" target="_blank" href="https://www.youtube.com/user/cambridgeenglishtv" class="link--external header-tray_icon--youtube">YouTube</a>
                        </li>
                        <li>
                            <a title="LinkedIn" target="_blank" href="https://www.linkedin.com/company/cambridge-assessment-english" class="link--external header-tray_icon--linkedin">LinkedIn</a>
                        </li>
                        <li>
                            <a title="Instagram" target="_blank" href="https://www.instagram.com/cambridgeenglish/" class="link--external header-tray_icon--instagram">Instagram</a>
                        </li>
                    </ul><a href="#" class="header-tray_language">Change Language</a>
                </div>
            </div>
        </div>
    </div>
    <header class="header" role="banner">
        <div class="header_wrap">
            <div style="width:50%;text-align:left;float:left;">
                <a href="/" style="text-decoration:none;">
                    <ul style="list-style-type: none; display: flex; margin:0px;">
                        <li>
                            <img src="/Content/images/header logo.png" alt="odm public school" style="height:110px;width:120px;" />
                        </li>
                        <li>
                            <h2 style="font-size:25px;margin-top:10px;">In Collaboration<br />with <strong>ODM Educational<br />Group</strong></h2>
                        </li>
                    </ul>
                    
                </a>
            </div>
            <div style="width:50%;text-align:right;float:right;">
                <a href="/cambridge/Index">
                    <img src="/Cambridge/assets/img/CE_Master_Logo_RGB.svg" alt="Cambridge Assessment English" style="height: 120px; width: 300px;" />
                </a>

            </div>


            @*<p class="logo">

                </p>*@
        </div>
        <div class="navigation js-navigation" aria-expanded="false" aria-hidden="true" id="js-navigation-id" aria-labelledby="js-header_controls-nav-id">
            <h2 class="hidden" id="navigation_heading" role="navigation">Main navigation</h2><nav aria-labelledby="navigation_heading" role="navigation">
                <ul class="navigation_list">
                    <li class="navigation_item navigation_item--child">
                        <a href="/cambridge/Index" class="anchor--linked-content--external has-popup" id="navigation_list-1596183086010-1">
                            Home
                        </a>

                    </li>
                    <li class="navigation_item navigation_item--child">
                        <a href="/Cambridge/WhyCambridgeEnglish" class="anchor--linked-content--external" id="navigation_list-1596183086012-2" aria-haspopup="true" aria-owns="navigation_list-1596183086012-3" aria-controls="navigation_list-1596183086012-3" aria-expanded="false">
                            Why choose us?
                        </a>
                        <div class="navigation_mega-menu navigation_mega-menu--child" id="navigation_list-1596183086012-3" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="navigation_list-1596183086012-2">
                            <div class="navigation_section">
                                <p class="navigation_section-link">
                                    <a href="/Cambridge/WhyCambridgeEnglish" class="anchor--linked-content--external">
                                        Why choose us?
                                    </a>
                                </p>
                            </div>


                        </div>
                    </li>
                    <li class="navigation_item navigation_item--child">
                        <a href="/Cambridge/ExamandTest" class="anchor--linked-content--external" id="navigation_list-1596183086014-4" aria-haspopup="true" aria-owns="navigation_list-1596183086014-5" aria-controls="navigation_list-1596183086014-5" aria-expanded="false">
                            Exams and tests
                        </a>
                        <div class="navigation_mega-menu navigation_mega-menu--child" id="navigation_list-1596183086014-5" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="navigation_list-1596183086014-4">
                            <div class="navigation_section">
                                <p class="navigation_section-link">
                                    <a href="/Cambridge/ExamandTest" class="anchor--linked-content--external">
                                        Exams and tests
                                    </a>
                                </p>
                            </div>
                            <div class="yui3-g">


                                <div class="navigation_group yui3-u-1 yui3-u-sm-1-4  navigation-image-link">

                                    <div class="yui3-c">
                                        <ul class="navigation--space">
                                            <li>
                                                <a href="/Cambridge/YLEStarter" class="link--internal "><span>Pre A1 Starters (YLE Starters)</span></a>
                                            </li>
                                            <li>
                                                <a href="/Cambridge/YLEMovers" class="link--internal "><span>A1 Movers (YLE Movers)</span></a>
                                            </li>
                                            <li>
                                                <a href="/Cambridge/YLEFlyers" class="link--internal "><span>A2 Flyers (YLE Flyers)</span></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </li>
                    <li class="navigation_item navigation_item--child">
                        <a href="/Cambridge/LearningEnglish" class="anchor--linked-content--external" id="navigation_list-1596183086016-6" aria-haspopup="true" aria-owns="navigation_list-1596183086016-7" aria-controls="navigation_list-1596183086016-7" aria-expanded="false">
                            Learning English
                        </a>
                        <div class="navigation_mega-menu navigation_mega-menu--child" id="navigation_list-1596183086016-7" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="navigation_list-1596183086016-6">
                            <div class="navigation_section">
                                <p class="navigation_section-link">
                                    <a href="/Cambridge/LearningEnglish" class="anchor--linked-content--external">
                                        Learning English
                                    </a>
                                </p>
                            </div>
                            <div class="yui3-g">

                                <div class="navigation_group yui3-u-1 yui3-u-sm-1-2  navigation-image-link">

                                    <div class="yui3-c">
                                        <ul class="navigation--space">

                                            <li>
                                                <a href="/Cambridge/ExamPreparation" class="link--internal "><span>Exam preparation</span></a>
                                            </li>
                                            <li>
                                                <a href="/Cambridge/TestYourEnglish" class="link--internal "><span>Test your English</span></a>
                                            </li>
                                            <li>
                                                <a href="/Cambridge/ParentsandChildren" class="link--internal "><span>Parents and children</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </li>

                    <li class="navigation_item navigation_item--child">
                        <a href="#" class="anchor--linked-content--external has-popup" id="navigation_list-1596183086019-10">
                            Blog
                        </a>

                    </li>
                    <li class="navigation_item navigation_item--child">
                        <a href="#" class="anchor--linked-content--external has-popup" id="navigation_list-1596183086021-11">
                            News
                        </a>

                    </li>

                    <li class="navigation_item navigation_item--child">
                        <a href="/Cambridge/Help" class="anchor--linked-content--external" id="navigation_list-1596183086024-13" aria-haspopup="true" aria-owns="navigation_list-1596183086024-14" aria-controls="navigation_list-1596183086024-14" aria-expanded="false">
                            Help
                        </a>
                        <div class="navigation_mega-menu navigation_mega-menu--child" id="navigation_list-1596183086024-14" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="navigation_list-1596183086024-13">
                            <div class="navigation_section">
                                <p class="navigation_section-link">
                                    <a href="/Cambridge/Help" class="anchor--linked-content--external">
                                        Help
                                    </a>
                                </p>
                            </div>
                            <div class="yui3-g">


                                <div class="navigation_group yui3-u-1 yui3-u-sm-1-2  navigation-image-link">

                                    <div class="yui3-c">
                                        <ul class="navigation--space">
                                            <li>
                                                <a href="/Cambridge/Enquiriesandappeals" class="link--internal "><span>Enquiries and appeals</span></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/modernizr/modernizr.custom.min.js"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/jquery/1.11.3/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/cambridge/js/jwplayer.js"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/Site24x7/RUM1monitoring.js"></script>
    <script type="text/javascript">jwplayer.key = '/LxpvcIBTf/kK3b2zW4BzTSr4t4aMh+39YIj2glmXf0='</script>
    <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/accessible-mega-menu/jquery-accessibleMegaMenu--modified.js"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/jquery.clickable/jquery.clickable.min.js?v=0.1"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/flexslider/jquery.flexslider-modified-min.js?v=0.1"></script>
    <script type="text/javascript" src="~/cambridge/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/cambridge/js/jquery.fancybox--modified.js"></script>
    <script type="text/javascript" src="~/cambridge/js/eventCarousel.js"></script>
    <script type="text/javascript" src="~/cambridge/js/dropdown.js"></script>
    <script type="text/javascript" src="~/cambridge/js/accordian.js"></script>
    <script type="text/javascript" src="~/cambridge/js/sitemap-accordion.js"></script>
    <script type="text/javascript" src="~/cambridge/js/browser.js"></script>
    <script type="text/javascript" src="~/cambridge/js/imagemapster.js"></script>
    <script type="text/javascript" src="~/cambridge/js/ucles.jquery.responsive-table.js"></script>
    <script type="text/javascript" src="~/cambridge/js/ucles.jquery.multi-media.js"></script>
    <script type="text/javascript" src="~/cambridge/js/ucles.jquery.navigation-state.js"></script>
    <script type="text/javascript" src="~/cambridge/js/ucles.jquery.dropdown-link-selector.js"></script>
    <script type="text/javascript" src="~/cambridge/js/ucles.jquery.accordion.js"></script>
    <script type="text/javascript" src="~/cambridge/js/ucles.jquery.ajax-loading.js"></script>
    <script type="text/javascript" src="~/cambridge/js/ucles.jquery.video-z-index-fix.js"></script>
    <script type="text/javascript" src="~/cambridge/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/cambridge/js/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/cambridge/js/jquery.ui.touch-punch.js"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/init.js?v=1.3"></script>
    <script type="text/javascript" src="~/cambridge/js/google.webfont.open-sans.js"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/glyphish/ss-glyphish-filled.js"></script>
    <script type="text/javascript" src="~/cambridge/assets/js/vendor/glyphish/ss-glyphish-outlined.js"></script>
    <script type="text/javascript" src="~/cambridge/static-assets/scripts/HrefLang?v=oeUgUJkslLxuwHH0PvW1bi0sQpmgUGpX7rDG1tZOXzs1"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>