﻿<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<title>@ViewBag.Title</title>
        <meta name="description" content="@ViewBag.MetaDescription">
        <meta name="keywords" content="@ViewBag.MetaKeywords">
        <link rel="canonical" href="@ViewBag.CanonicalURL" />*@
    <link rel="apple-touch-icon" href="~/Content/images/ODM School task bar logo.png">
    <link rel="shortcut icon" href="~/Content/images/ODM School task bar logo.png">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,900,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/784bmyt8/26wg5.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/mbgchw7v/26wg5.css" media="all">
    @*<link rel="publisher" href="https://plus.google.com/117615745363295017549" />*@
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    @RenderSection("metatags", false)

    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <script type="text/javascript" async="" src="https://sjs.bizographics.com/insight.min.js"></script>
    <script type="text/javascript" async="" src="https://sjs.bizographics.com/insight.min.js"></script>
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0076/8296.js?433925"></script>
    <script src="//widgets.getsitecontrol.com/133773/script.js"></script>

    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <script src="../../Content/wp-includes/js/wp-emoji-release.min.js?ver=5.0.4" type="text/javascript"></script>
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/1dkwz2b5/26whc.css" media="all">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../Content/wp-content/cache/wpfc-minified/6k2qlzde/26whc.js" type="text/javascript"></script>
    <script src="../../Content/wp-content/cache/wpfc-minified/7bm4h71p/26wg5.js" type="text/javascript"></script>
    <script src="../../Content/wp-content/cache/wpfc-minified/kah0pu45/26wg5.js" type="text/javascript"></script>
    @*<meta name="generator" content="WordPress 5.0.4">*@
    <link rel="shortlink" href="/">

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/ODM School task bar logo.png" sizes="32x32">
    <link rel="icon" href="~/Content/images/ODM School task bar logo.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ODM School task bar logo.png">
    <meta name="msapplication-TileImage" content="~/Content/images/ODM School task bar logo.png">


    <meta name="google-site-verification" content="VqPRDtXGU93Ium-Kb_tJ7M8NG0YLSprJwFjpVmkB0ao">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="google-site-verification" content="QyakOl5D7mcFkhwMKN13ZwgOa5pmSTJmljW69M_0C9w" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147713452-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-147713452-1');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M6Q9ZXB');</script>
    <!-- End Google Tag Manager -->


</head>

<body data-gr-c-s-loaded="true" class="fts-powered-by-text-popup" cz-shortcut-listen="true" style="overflow-x: hidden;">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6Q9ZXB"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-default" id="main-nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span> </button>
                @*<div class="header-info form">
                        <form class="header-search-form" method="get" action="/" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" name="s" value="" id="s" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </form>
                    </div>*@
                <div class="header-info link hidden-xs">
                    <a href="http://online.odmegroup.org/Application/Register" target="_blank">
                        <span class="hidden-xs">Apply Online</span>
                        <span class="visible-xs-inline">Apply Online</span>
                    </a>
                </div>
                <div class="header-info link hidden-xs">
                    <a href="#" data-toggle="modal" data-target="#comingsoon" tabindex="-1">
                        <span class="hidden-xs">Parent Login</span>
                        <span class="visible-xs-inline">Parent Login</span>
                    </a>
                </div>
                <div class="header-info link visible-xs">
                    <a href="/Admission/admission_details" onclick="ga('send', 'event', 'button', 'clicked', 'admission')">Admissions</a>
                </div>
                <div class="header-info phone">
                    <a href="mailto:info@odmps.org"><span class="glyphicon glyphicon-envelope"></span>info@odmps.org<span class="call">Mail</span></a>
                </div>
                <div class="header-info phone">
                    <a href="tel:+9118001202316"><span class="glyphicon glyphicon-earphone"></span> <span class="num">1800-120-2316</span><span class="call">Call</span></a>
                </div>

                <a class="navbar-brand" href="/">
                    <img src="~/Content/images/header logo.png" width="100" alt="ODM Public School" title="ODM Public School" id="main-logo">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-nav-collapse">
                <form method="get" class="navbar-form navbar-left visible-xs-block" action="/" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" name="s" value="" id="s" placeholder="Search...">
                        <span class="input-group-btn">
                            <input class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </form>
                <ul id="menu-header-menu" class="nav navbar-nav navbar-right">
                    <li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-78 dropdown">
                        <a title="About us" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">About us <span class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a title="Overview" href="/About/Index">Overview</a></li>
                            <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a title="ODM Difference" href="/About/odm_difference">ODM Difference</a></li>
                            <li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a title="Chairman's Message" href="/About/Chairman_Message">Chairman's Message</a></li>
                            <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a title="Awards and Accolades" href="/About/awards_and_accolades">Awards and Accolades</a></li>
                            <li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a title="ODM Educational Group" href="/About/odm_educational_group">ODM Educational Group</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-82" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-82 dropdown">
                        <a title="Academics" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">
                            Academics <span class="caret"></span>
                        </a>
                        <ul role="menu" class=" dropdown-menu">
                            <li id="menu-item-563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-563"><a title="kids world" href="/Academics/kids_world">Kid's World</a></li>
                            <li id="menu-item-1230" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1230"><a title="Primary" href="/Academics/Primary">Primary</a></li>
                            <li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a title="Secondary" href="/Academics/Secondary">Secondary</a></li>
                            <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a title="Senior Secondary" href="/Academics/sr_secondary">Senior Secondary</a></li>
                            <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a title="Competitives" href="/Academics/Competitives">Competitives</a></li>
                            @*<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a title="CBSE Curriculum" href="../Academics/cbse_curriculum/">CBSE Curriculum</a></li>*@
                        </ul>
                    </li>
                    <li id="menu-item-90" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-90 dropdown">
                        <a title="Student Life" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Student Life <span class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a title="About Student Life" href="/Studentlife/Index">About Student Life</a></li>
                            <li id="menu-item-91" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a title="Residential Facility" href="/Studentlife/Residential_Facility">Residential Facility</a></li>
                            <li id="menu-item-9048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9048"><a title="UN Nodal School" href="/Studentlife/UN_Nodal_School">UN Nodal School</a></li>
                            <li id="menu-item-772" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-772"><a title="Literary Activities" href="/Studentlife/literary_activities">Literary Activities</a></li>
                            <li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a title="Art And Cultural" href="/Studentlife/art_and_cultural">Art And Cultural</a></li>
                            <li id="menu-item-773" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a title="Sports and Wellness" href="/Studentlife/sports_and_wellness">Sports and Wellness</a></li>
                            <li id="menu-item-775" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-775"><a title="Trips And Expeditions" href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a></li>
                            <li id="menu-item-771" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771"><a title="Achiever's Club" href="/Studentlife/Achievers_club">Achiever's Club</a></li>
                            <li id="menu-item-770" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"><a title="Community Service" href="/Studentlife/community_service">Community Service</a></li>
                            <li id="menu-item-13348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13348"><a title="Green India Club" href="/Studentlife/Green_India_Club">Green India Club</a></li>
                            <li id="menu-item-13348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13348"><a title="L.E.A.P Series" href="/Studentlife/Leap_series">L.E.A.P Series</a></li>
                            <li id="menu-item-13348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13348"><a title="ODM Media Club" href="/Studentlife/odm_media_club">ODM Media Club</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-107 dropdown">
                        <a title="Admissions" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Admissions <span class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li id="menu-item-801" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a title="Admission Details" href="/Admission/admission_details">Admission Details</a></li>
                            <li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a title="Admission Enquiry" href="/Home/admission_enquiry">Admission Enquiry</a></li>
                            <li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a title="OSAT 2020 and N40" href="/Admission/OSAT_2020_and_N40">OSAT 2020 and N40</a></li>
                            <li id="menu-item-802" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a title="Scholarships" href="/Admission/Scholarships">Scholarships</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-1074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-471"><a title="About Cambridge" href="/Cambridge/Index">About Cambridge</a></li>

                    <li id="menu-item-813" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-813 dropdown">
                        <a title="Careers" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Careers <span class="caret"></span></a>
                        <ul role="menu" class=" dropdown-menu">
                            <li id="menu-item-806" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-806">
                                <a title="Join ODM" href="/Career/Index">Join ODM</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-item-571" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-571"><a title="Contact Us" href="/Home/Contact">Contact Us</a></li>
                    <li id="menu-item-7491" class="visible-xs-block menu-item menu-item-type-custom menu-item-object-custom menu-item-7491">
                        <a title="Parent Login" href="#" data-toggle="modal" data-target="#comingsoon" tabindex="-1">Parent Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    @*<section class="join-strip">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-6">
                        <h1>JOIN INDIA'S BEST INTERNATIONAL SCHOOL</h1>
                        <p>To book our campus tour, please call +91 9133337711/ 22</p>
                    </div>
                    <div class="col-sm-4 col-md-6 text-align-center"><a href="../Admission/for_indian_students" onclick="ga('send', 'event', 'button', 'clicked', 'iam interested')" class="btn btn-cta white">I'm Interested</a></div>
                </div>
            </div>
        </section>*@
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <ul class="footer-links">
                        <li class="heading">Information</li>
                        <div class="menu-footer-widget-1-container">
                            <ul id="menu-footer-widget-1" class="menu">
                                <li id="menu-item-817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-817"><a href="/Home/InformationBooklet">Information Booklets</a></li>
                                <li id="menu-item-116" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116"><a href="/Home/Notices">School Notices</a></li>
                                <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120"><a href="/Home/Eventvideos">Event Videos</a></li>
                                <li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119"><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download App</a></li>
                                <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118"><a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/ti-VvK2EbhQ" data-target="#myModal" tabindex="-1">School Anthem</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <ul class="footer-links">
                        <ul class="footer-links widget_nav_menu" id="nav_menu-3">
                            <li class="heading">Media</li>
                            <div class="menu-footer-widget-2-container">
                                <ul id="menu-footer-widget-2" class="menu">
                                    <li id="menu-item-124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-124"><a href="/Home/Events">Events</a></li>
                                    <li id="menu-item-6128" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6128"><a href="/Home/photogallery#gallery">Photo Gallery</a></li>
                                    <li id="menu-item-7784" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7784"><a href="/Home/mediagallery">Media Gallery</a></li>
                                    <li id="menu-item-859" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-859"><a href="/Home/blog">Blog</a></li>
                                </ul>
                            </div>
                        </ul>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <ul class="footer-links">
                        <ul class="footer-links widget_nav_menu" id="nav_menu-4">
                            <li class="heading">Admissions</li>
                            <div class="menu-footer-widget-3-container">
                                <ul id="menu-footer-widget-3" class="menu">
                                    <li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-125"><a href="/Admission/plan_a_visit">Plan a Visit</a></li>
                                    @*<li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="#" data-toggle="modal" data-target="#virtualtour" tabindex="-1">Virtual Tour</a></li>*@
                                    <li id="menu-item-126" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-126"><a href="/virtualtour/ODM/index.html">Campus Tour</a></li>
                                </ul>
                            </div>
                        </ul>
                        <ul class="footer-links widget_nav_menu" id="nav_menu-7">
                            <li class="heading">For Existing Parents</li>
                            <div class="menu-for-existing-parents-menu-container">
                                <ul id="menu-for-existing-parents-menu" class="menu">
                                    <li id="menu-item-7787" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7787"><a href="#" data-toggle="modal" data-target="#comingsoon" tabindex="-1">Parent Login</a></li>
                                    <li id="menu-item-7788" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7788"><a href="/Home/onlinepayment">Online Fee Payment</a></li>
                                </ul>
                            </div>
                        </ul>
                    </ul>
                </div>
                <div class="col-xs-6 col-md-3">
                    <ul class="footer-links">
                        <ul class="footer-links widget_nav_menu" id="nav_menu-5">
                            <li class="heading">Other Links</li>
                            <div class="menu-footer-widget-4-container">
                                <ul id="menu-footer-widget-4" class="menu">
                                    <li id="menu-item-129" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-129"><a href="/About/Index">About Us</a></li>
                                    <li id="menu-item-130" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-130"><a href="/About/awards_and_accolades">Awards and Accolades</a></li>
                                    <li id="menu-item-5460" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5460"><a href="/Home/sitemap">Sitemap</a></li>
                                    <li id="menu-item-10023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10023"><a href="/Home/privacypolicy">Privacy Policy</a></li>
                                    <li id="menu-item-10024" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10023"><a href="/ReUnion/Index">School Re-Union</a></li>
                                </ul>
                            </div>
                        </ul>
                    </ul>
                    <div class="social-row">
                        <nav class="links">
                            <a href="https://www.facebook.com/OdmEducationalGroup" target="_blank">
                                <span class="fa fa-facebook"></span>
                            </a><a href="https://twitter.com/odmedgroup" target="_blank">
                                <span class="fa fa-twitter"></span>
                            </a><a href="https://www.instagram.com/odmps/" target="_blank">
                                <span class="fa fa-linkedin"></span>
                            </a><a href="https://www.youtube.com/user/odmps" target="_blank">
                                <span class="fa fa-youtube"></span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <aside class="clearfix" id="sticky">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="#" class="logo">
                        <img src="~/Content/images/ODM School task bar logo.png" alt="Home" title="Home" width="30">
                    </a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse" aria-expanded="false" id="aside-toggle">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul id="menu-header-menu-1" class="nav-sticky nav navbar-nav">
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-78 dropdown">
                            <a title="About us" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">About us <span class="caret"></span></a>
                            <ul role="menu" class=" dropdown-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a title="Overview" href="/About/Index">Overview</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a title="ODM Difference" href="/About/odm_difference">ODM Difference</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a title="Chairman's Message" href="/About/Chairman_Message">Chairman's Message</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a title="Awards and Accolades" href="/About/awards_and_accolades">Awards and Accolades</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a title="ODM Educational Group" href="/About/odm_educational_group">ODM Educational Group</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-82 dropdown">
                            <a title="Academics" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Academics <span class="caret"></span></a>
                            <ul role="menu" class=" dropdown-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-563"><a title="kids world" href="/Academics/kids_world">Kid's World</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1230"><a title="Primary" href="/Academics/Primary">Primary</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a title="Secondary" href="/Academics/Secondary">Secondary</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a title="Senior Secondary" href="/Academics/sr_secondary">Senior Secondary</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a title="Competitives" href="/Academics/Competitives">Competitives</a></li>
                                @*<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a title="CBSE Curriculum" href="../Academics/cbse_curriculum">CBSE Curriculum</a></li>*@
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-90 dropdown">
                            <a title="Student Life" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Student Life <span class="caret"></span></a>
                            <ul role="menu" class=" dropdown-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a title="About Student Life" href="/Studentlife/Index">About Student Life</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-91"><a title="Residential Facility" href="/Studentlife/Residential_Facility">Residential Facility</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9048"><a title="UN Nodal School" href="/Studentlife/UN_Nodal_School/">UN Nodal School</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-772"><a title="Literary Activities" href="/Studentlife/literary_activities">Literary Activities</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a title="Art And Cultural" href="/Studentlife/art_and_cultural">Art And Cultural</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-773"><a title="Sports and Wellness" href="/Studentlife/sports_and_wellness">Sports and Wellness</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-775"><a title="Trips And Expeditions" href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-771"><a title="Achiever's Club" href="/Studentlife/Achievers_club">Achiever's Club</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"><a title="Community Service" href="/Studentlife/community_service">Community Service</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13348"><a title="Green India Club" href="/Studentlife/Green_India_Club">Green India Club</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-770"><a title="L.E.A.P Series" href="/Studentlife/Leap_series">L.E.A.P Series</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13348"><a title="ODM Media Club" href="/Studentlife/odm_media_club">ODM Media Club</a></li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-107 dropdown">
                            <a title="Admissions" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Admissions <span class="caret"></span></a>
                            <ul role="menu" class=" dropdown-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-801"><a title="Admission Details" href="/Admission/admission_details">Admission Details</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a title="Admission Enquiry" href="/Home/admission_enquiry">Admission Enquiry</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a title="OSAT 2020 and N40" href="/Admission/OSAT_2020_and_N40">OSAT 2020 and N40</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-802"><a title="Scholarships" href="/Admission/Scholarships">Scholarships</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-471"><a title="About Cambridge" href="/Cambridge/Index">About Cambridge</a></li>
                        
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-813 dropdown">
                            <a title="Careers" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Careers <span class="caret"></span></a>

                            <ul role="menu" class=" dropdown-menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-806">
                                    <a title="Join ODM" href="/Career/Index">Join ODM</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-571"><a title="Contact Us" href="/Home/Contact">Contact Us</a></li>
                        <li class="visible-xs-block menu-item menu-item-type-custom menu-item-object-custom menu-item-7491"><a title="Parent Login" href="#" data-toggle="modal" data-target="#comingsoon" tabindex="-1">Parent Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <div class="testimonialModal modal fade" id="comingsoon" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">Coming Soon</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <img src="~/Content/images/comingsoon.jpg" style="width:300px;display: -webkit-inline-box;" alt="Coming Soon" title="Coming Soon" /><br />
                        <br />  <h2>STAY TUNED, FOR MORE UPDATES</h2>
                    </div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>*@
            </div>
        </div>
    </div>
    <div class="testimonialModal modal fade" id="virtualtour" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">Coming Soon</h4>
                </div>
                <div class="modal-body">
                    <div class="row text-center">
                        <img src="~/Content/images/virtual tour.jpg" style="width:300px;display: -webkit-inline-box;" alt="Coming Soon" title="Coming Soon" /><br />
                        <br />  <h2>STAY TUNED, FOR MORE UPDATES</h2>
                    </div>
                </div>
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>*@
            </div>
        </div>
    </div>

    <div class="testimonialModal modal fade" id="schoolanthem" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">School Anthem</h4>
                </div>
                <div class="modal-body">
                    <iframe width="100%" class="schoolanthemevideo" height="300" data-src="https://www.youtube.com/embed/ti-VvK2EbhQ" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/ti-VvK2EbhQ"></iframe>
                </div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
            </div>
        </div>
    </div>

    @* Admission Popup *@
    <div class="testimonialModal modal fade" id="admissionmodal" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5); box-shadow: 0 0px 0px rgba(0,0,0,.5);border:none;background-color:transparent !important;width:680px;">
                <div class="modal-header" style="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body" style="background-color:white !important;">
                    <div class="">
                        <img src="~/Content/images/Copy of ODM_5.jpg" style="width:100%;height:350px;" height="400" />
                    </div>
                    <div class="clearfix" style="margin-bottom:8px;"></div>
                    <div class="">
                        <div class="col-md-6" style="padding:10px;">
                            <iframe width="100%" class="schoolanthemevideo" height="280" data-src="https://www.youtube.com/embed/3qRajN1mpzc" frameborder="0" allowfullscreen="" src="https://www.youtube.com/embed/KcyVnMkXs8g"></iframe>
                        </div>
                        <div class="col-md-6" style="padding:20px;text-align:justify;">
                            <div>
                                <p>It is once again a moment of immense pride for us, to have Dr. S. Minaketan, Chairman, ODM Educational Group feature as one of India's top-40 Education Evangelist chosen by joint collaboration of FORBES and SkillTree. It was a once in a lifetime opportunity to be interview by Chetan Bhagat, the Indian Author and Bollywood Screenwriter, . Our chairman also presented his collection of books to Chetan Bhagat and the latter being an avid reader, appreciated the topics that the books covered while receiving it. </p>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    @*<img src="~/Content/images/Webpage Popup.jpg" />
        <a class="btn btn-default" href="http://online.odmegroup.org/Application/Register" style="position: absolute; bottom: 52px; right: 33px; width: 169px; border-radius: 0px; background-color: transparent; border: none;height:32px;"></a>*@
                </div>

            </div>
        </div>
    </div>

    @* Admission Popup *@


    <div class="copyright-row">
        <div class="container"><div class="row"><div class="col-sm-6">©&nbsp;<span id="footerYear">2019</span>&nbsp;ODM Public School</div><div class="col-sm-6"></div></div></div>
    </div><div id="mqCheck-767"></div>
    <div id="mqCheck-600"></div><div id="mqCheck-500"></div><div id="mqCheck-479"></div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Content/wp-content/Slick-slider/slick.min.js"></script>*@
    <script src="~/Content/photogallery/gallery.js"></script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>


                </div>

            </div>
        </div>
    </div>


    <style>
        .modal-dialog {
            max-width: 800px;
            margin: 30px auto;
        }



        .modal-body {
            position: relative;
            padding: 0px;
        }

        .close {
            position: absolute;
            right: -30px;
            top: 0;
            z-index: 999;
            font-size: 2rem;
            font-weight: normal;
            color: #fff;
            opacity: 1;
        }
    </style>
    <script>

        $(document).ready(function () {
            $('#admissionmodal').modal('show');
            // Gets the video src from the data-src on each button
            var $videoSrc;
            $('.video-btn').click(function () {
                $videoSrc = $(this).data("src");
            });
            console.log($videoSrc);
            // when the modal is opened autoplay it
            $('#myModal').on('shown.bs.modal', function (e) {

                // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
                $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
            })
            // stop playing the youtube video when I close the modal
            $('#myModal').on('hide.bs.modal', function (e) {
                // a poor man's stop video
                $("#video").attr('src', $videoSrc);
            })
            // document ready
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            Getlatestblog();

            function Getlatestblog() {
                // debugger;
                $.get('/Home/Getlatestblogs', function (data) {
                    //debugger;
                    var s = '';
                    $('#recentblog').empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            s += '<li class="item"><a href="/Home/blogdetails/' + data[i].id + '" class="wrapper"><div class="icon">';
                            s += '<img src="../../Images/blog_thumb/' + data[i].image + '" alt="' + data[i].title + '" title="' + data[i].title + '"></div>';
                            s += '<div class="details"><h3>' + data[i].title + '</h3><p>' + data[i].description + '</p><span class="read-more">Read More</span></div></a></li>';
                        }
                    }
                    $('#recentblog').html(s);
                })
            }
        })
        $(document).ready(function () {

            $('.home-slider').slick({
                slidesToShow: 1, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: true, fade: true, adaptiveHeight: true, arrows: false,
            });
            $('.testimonial-slider').slick({
                slidesToShow: 1, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.testimonial-slider-nav-list .slider-nav.prev'), nextArrow: $('.testimonial-slider-nav-list .slider-nav.next')
            });
            $('.latestupdate-slider').slick({
                slidesToShow: 1, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.latestupdate-slider-nav-list .slider-nav.prev'), nextArrow: $('.latestupdate-slider-nav-list .slider-nav.next')
            });
            $('.campus-slider').slick({
                slidesToShow: 1, slidesToScroll: 3, autoplay: true, autoplaySpeed: 5000, swipeToSlide: true, dots: false, fade: true, arrows: true, centerMode: false, variableWidth: false, prevArrow: $('.campuses-slider-nav-list .slider-nav.prev'), nextArrow: $('.campuses-slider-nav-list .slider-nav.next'), responsive: [{ breakpoint: 991, settings: { arrows: false, centerMode: false, slidesToShow: 1, variableWidth: false, } }, { breakpoint: 768, settings: { arrows: false, centerMode: false, slidesToShow: 1, variableWidth: false, } }, { breakpoint: 540, settings: { arrows: false, centerMode: false, slidesToShow: 1, variableWidth: false, } }]
            });
            $('.updates-list').slick({
                slidesToShow: 2, slidesToScroll: 2, autoplay: true, autoplaySpeed: 2000, vertical: true, verticalSwiping: true, adaptiveHeight: true, dots: false, fade: false, arrows: false, responsive: [{ breakpoint: 768, settings: { arrows: false, centerMode: false, slidesToShow: 1, slidesToScroll: 1, vertical: false, verticalSwiping: false, verticalSwipe: false, } }]
            });
            $('.affiliation-slider').slick({
                slidesToShow: 3, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.affiliation-slider-nav-list .slider-nav.prev'), nextArrow: $('.affiliation-slider-nav-list .slider-nav.next')
            });
            $('.learning-slider').slick({
                slidesToShow: 3, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.learning-slider-nav-list .slider-nav.prev'), nextArrow: $('.learning-slider-nav-list .slider-nav.next')
            });
            $('.global-slider').slick({
                slidesToShow: 3, slidesToScroll: 1, autoplay: true, autoplaySpeed: 5000, dots: false, fade: false, arrows: true, prevArrow: $('.global-slider-nav-list .slider-nav.prev'), nextArrow: $('.global-slider-nav-list .slider-nav.next')
            });
        });
    </script>
    <!-- <script src="js/vendor/slick.min.js"></script> -->
    <script src="../../Content/wp-content/themes/neptune/js/vendor/jquery.touchSwipe.min.js"></script>
    <script src="../../Content/wp-content/themes/neptune/js/plugins.js"></script>
    <script src="../../Content/wp-content/themes/neptune/js/main.js"></script>
    <script>window.onload = function () { $(".children").addClass("nav nav-list"); };</script>
    <script>setTimeout(function () { $('#vacancy-status').modal('show'); }, 30000);</script>
    <script>$(document).ready(function () { $('input[type="checkbox"]').click(function () { if (this.checked) { if ($(this).attr('id') == "anyway_else_chk") { $('#ifanyelse_textbox').css('display', 'block'); $("#anyway_else").prop('required', true); } } else { if ($(this).attr('id') == "anyway_else_chk") { $('#ifanyelse_textbox').css('display', 'none'); $("#anyway_else").prop('required', false); } } }); });</script>



    <script>
        //$('#dri-custom-get-to-know-lead-form').submit(function (e) {
        //    e.preventDefault();
        //    var checkbox_vlid = $('input:checkbox.myCheckBox:checked').length;
        //    if (checkbox_vlid == 0) { alert("You must select at least one!"); return false(); } else { }
        //    $("#submit_thk_feedback").attr("disabled", "disabled"); $("#loading").show();
        //    var knowaboutus = [];
        //    $.each($("input[name='knowaboutus']:checked"), function () {
        //        knowaboutus.push($(this).val());
        //    });
        //    // alert(knowaboutus);
        //    // alert('Your Habits are :' + knowaboutus.join(", "));
        //    $.post('/Home/SaveFeedback', { knowaboutus: knowaboutus.join(", ") }, function (data) {
        //        if (data == '0') {
        //            $("#loading").hide();
        //            $("#submit_thk_feedback").attr("disabled", false); alert("DB Insert Failed");
        //        } else {
        //            $("#loading").hide();
        //            $("#submit_thk_feedback").attr("disabled", true); alert("Thank you for your feedback.");
        //            window.location = '../../Home/index';
        //        }
        //    });
        //  });
    </script>
    <script>
        $("#campus").change(function () { var selectedText = $(this).find("option:selected").text(); var selectedValue = $(this).val(); jQuery('input[name="otpcampus"]').attr('value', selectedValue); });</script>
    <script>
        $("#phone").on("change", function () {
            phone = $("#phone").val(); phone = phone.replace(/[^0-9]/g, ''); errorMsg = $("#error-msg"); validMsg = $("#valid-msg"); if (phone.length != 10) {
                $("#phone").addClass("error");
                $("#contactbutton").prop('disabled', true); errorMsg.removeClass("hide");
            } else { errorMsg.addClass("hide"); var campusName = $('#campus').val(); var grade = $('#grade').val(); var curriculum = $('#curriculum').val(); if (campusName == "Gachibowli") { $("#contactbutton").prop('disabled', false); } else { $("#contactbutton").prop('disabled', false); } }
        }); $('#dri-custom-form').submit(function (e) {
            e.preventDefault();
            $("#contactbutton").attr("disabled", "disabled");
            var $this = $(this); $("#loading").show();
            $.ajax({
                url: '/Home/SaveContact', type: 'POST', dataType: 'json', data: $this.serialize(), success: function (data) {
                    if (data == '0') {
                        $("#loading").hide();
                        alert("DB Insert Failed");
                    }
                    else {
                        var thankyouURL = '/Home/Thankyou';
                        // var campusisset = data;
                        //if (campusisset != '') {
                        //    thankyouURL = thankyouURL;
                        //}
                        $("#loading").hide();
                        window.location = thankyouURL;
                    }
                }
            });
        });
        $("#popupphone").on("change", function () { phone = $("#popupphone").val(); phone = phone.replace(/[^0-9]/g, ''); errorMsg = $("#popuperror-msg"); validMsg = $("#popupvalid-msg"); if (phone.length != 10) { $("#popupphone").addClass("error"); $("#popupcontactbutton").prop('disabled', true); errorMsg.removeClass("hide"); } else { errorMsg.addClass("hide"); var campusName = $('.popupcampus').val(); var grade = $('#popupgrade').val(); var popupcurriculum = $('.popupcurriculum').val(); if (campusName == "Gachibowli") { $("#contactbutton").prop('disabled', false); } else { $("#popupcontactbutton").prop('disabled', false); } } });
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5d3008d6bfcb827ab0cc62fa/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>





    <!--End of Tawk.to Script-->
    @*<script type="text/javascript">
        function add_chatinline() { var hccid = 10468124; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
        add_chatinline(); </script>*@
    <link rel="stylesheet" type="text/css" href="../../Content/wp-content/cache/wpfc-minified/g3g0bk99/djv0g.css" media="all">
    <script type="text/javascript" src="../../Content/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.1.3"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wonderplugin-gridgallery/engine/wonderplugingridlightbox.js?ver=10.6"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wonderplugin-gridgallery/engine/wonderplugingridgallery.js?ver=10.6"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wp-sticky-menu/public/js/headroom.min.js?ver=0.7.0"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/wp-sticky-menu/public/js/wp-sticky-menu-public.js?ver=1.0.0"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popups/public/assets/js/public.js?ver=1.9.3.6"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/page-links-to/js/new-tab.min.js?ver=3.1.1"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popup-by-supsystic/js/common.min.js?ver=1.9.49"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popup-by-supsystic/js/core.min.js?ver=1.9.49"></script>
    <script type="text/javascript" src="../../Content/wp-content/plugins/popup-by-supsystic/modules/popup/js/frontend.popup.min.js?ver=1.9.49"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.9.0/slick/slick.min.js"></script>
</body>
</html>
