﻿
@{
    ViewBag.Title = "Enquiriesandappeals";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main class="bg--image" id="anchor-main" role="main">
    <div class="banner">
        <div class="banner_container">
            <div id="landingPg" class="box landingPage foo">
                <!--googleon: index-->
                



               
                <header class="subHeader" id="content_subheader">

                    <h1>
                        Enquiries and appeals
                    </h1>
                </header>
                <div class="body">

                 
                            <div class="yui3-c">

                                <div class="article teaser">
                                    <div class="feature">
                                        <div>


                                            <p>If a candidate believes that their exam result is not fair, they must contact their examination centre immediately. Their centre can then ask Cambridge English for an <strong>Enquiry</strong> or an <strong>Appeal</strong>. This page tells you more about both processes.</p>




                                        </div>
                                    </div>
                                </div><div>
                                    <div class="accordion ui-accordion ui-widget ui-helper-reset" role="tablist">
                                        <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="false" aria-expanded="false" tabindex="0">
                                            <span class="ui-accordion-header-icon ui-icon ui-icon-plus"></span>
                                            <a href="#" id="">
                                                Enquiries procedure
                                            </a>
                                        </h3>
                                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="true" style="display: none;">
                                            <p>Results Enquiries must be submitted by the examination centre on behalf of the candidate. The following Results Enquiry stages are available:</p>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th colspan="4">Results Enquiry stages</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Stage</th>
                                                        <th>
                                                            <p>
                                                                What is the
                                                                <br>
                                                                enquiry process?
                                                            </p>
                                                        </th>
                                                        <th>
                                                            <p>
                                                                How long
                                                                <br>
                                                                does it take?
                                                            </p>
                                                        </th>
                                                        <th>
                                                            <p>
                                                                What does
                                                                <br>
                                                                it cost?
                                                            </p>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Stage 1</td>
                                                        <td>A full clerical re-check</td>
                                                        <td>Within five working days of receiving the request</td>
                                                        <td>Refer to your centre for fee</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Stage 2</td>
                                                        <td>A re-mark of written papers (including review of the Listening paper where relevant, but does not apply to any Speaking test component). This excludes A2 Key and A2 Key for Schools</td>
                                                        <td>The outcome of the enquiry will be sent within three weeks</td>
                                                        <td>Fee depends on the exam – refer to your centre</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <h4>
                                                Requesting a Stage 2 enquiry
                                                <br>
                                            </h4>
                                            <p>
                                                To request a Stage 2 enquiry, a candidate must have completed Stage 1 and received their results.
                                                <br>
                                            </p>
                                            <p>
                                                Should a result enquiry lead to a grade change, Cambridge English will request the return of the original certificate if applicable. These should be returned to the address shown in the submission notes and proof of posting is strongly recommended.
                                                <br>
                                            </p>
                                            <h4>
                                                Final dates for enquiries
                                                <br>
                                            </h4>
                                            <p>
                                                Each exam has two deadline dates for receiving Result Enquiries:
                                                <br>
                                            </p>
                                            <ul>
                                                <li>The first is the date by which an enquiry must be submitted if a Stage 2 re-mark is required.</li>
                                                <li>The second is the final date for <strong>all enquiries</strong> for that examination.</li>
                                            </ul>
                                            <p>
                                                We would advise all candidates considering making an enquiry to contact their examination centre within 14 days of the result release date to discuss the Results Enquiry procedure.
                                                <br>
                                            </p>
                                            <p>
                                                Where an enquiry leads to a change of result, any Result Enquiry fee will be refunded.
                                                <br>
                                            </p>
                                            <p>If candidates are not satisfied with the outcome of the Result Enquiry process, they are entitled to request a formal appeal against their result.</p>
                                        </div>
                                        <h3 class="ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                                            <span class="ui-accordion-header-icon ui-icon ui-icon-plus"></span>
                                            <a href="#" id="">
                                                Appeals Procedure
                                            </a>
                                        </h3>
                                        <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: none;">
                                            <p>Cambridge Assessment English provides a service to enable examination centres and candidates to appeal against decisions that affect grades awarded to candidates (e.g. decisions relating to centre closures, results outcomes, malpractice, special consideration and administration).</p>
                                            <p>In the case of IELTS, candidates who have taken the test at centres authorised by the British Council make their appeal via the test centre. Candidates who have taken the test at centres authorised by IDP Education Ltd make their appeal by contacting <a href="mailto:appeals.ielts@idp.com">appeals.ielts@idp.com</a>. Appeals are then taken forward by Cambridge Assessment English.</p>
                                            <p>The appeals procedure focuses on whether, in the course of reaching decisions, Cambridge Assessment English (and, in the case of IELTS, British Council and IDP Education Ltd):</p>
                                            <ul>
                                                <li>used procedures which were consistent with the regulatory authorities' code of practice</li>
                                                <li>applied its procedures properly and fairly in arriving at judgements.</li>
                                            </ul>
                                            <p>The appeals procedure is not concerned with making judgements about candidates' work in the examination; an appeal will not involve re-marking or re-assessment of a candidate's work, although further re-marking might be commissioned as a result of an appeal if it is found that procedures have not been satisfactorily followed.</p>
                                            <p>Where the outcome of an appeal brings into question the accuracy of grades awarded in an assessment, Cambridge Assessment English (and, in the case of IELTS, British Council and IDP Education Ltd) will take all reasonable steps to identify any other candidate who may have been affected and wherever possible correct or mitigate the error.</p>
                                            <p>Where the outcome of an appeal results in the discovery of a failure in one of our processes or systems, we will review the relevant process or system and take all reasonable steps to ensure that the failure does not happen again.</p>
                                            <h4>Conditions of appeal</h4>
                                            <p>Cambridge Assessment English will consider an appeal only if the following conditions are met:</p>
                                            <ol>
                                                <li>The appeal is submitted in writing by the Centre Exams Manager clearly outlining the grounds upon which the appeal is being submitted. In the case of IELTS, the appeal is submitted by the Test Centre Administrator at British Council authorised centres, or by IDP Education Ltd.</li>
                                                <li>The appeal is submitted <strong>within 21 days</strong> of the receipt of the relevant decision.</li>
                                                <li>Appellants must submit a completed appeals application form and make payment to the Centre Exams Manager or, in the case of IELTS, to the Test Centre Administrator before the end of the 21-day period. Appeals will not be accepted without payment.</li>
                                            </ol>
                                            <p>An appeal against a result may not be submitted unless both stages 1 and 2 of the Results Enquiry process have taken place first. (This condition does not apply to appeals against decisions relating to malpractice.)</p>
                                            <h4>Charges</h4>
                                            <p>There will be a charge for the submission of an appeal at both Stage 1 and Stage 2 of the procedure. This charge will be refunded in full if the appeal is upheld. Refer to your centre for information about fees (or, in the case of IELTS tests taken at centres authorised by IDP Education Ltd, contact <a href="mailto:appeals.ielts@idp.com">appeals.ielts@idp.com</a>).</p>
                                            <h4>Appeals procedure: Pre-Appeal Process</h4>
                                            <p>The written evidence relating to the case will be reviewed by senior staff from Cambridge Assessment English. The purpose of the initial consideration is to decide whether any further work relating to the appeal should be authorised (e.g. re-marking of additional exam materials; gathering of additional evidence).</p>
                                            <p>Should this review result in a decision to uphold the appeal the centre/candidate will be notified and the appeal fee returned.</p>
                                            <p>For all other cases the appeal will proceed to Stage 1 of the procedure.</p>
                                            <h4>Appeals Procedure: Stage 1</h4>
                                            <p>The written evidence relating to the case will be considered by an independent authority.</p>
                                            <p>Appellants will be notified in writing of the outcome of stage 1, including the outcome of any further work authorised, within 10 weeks of submission.</p>
                                            <h4>Appeals procedure: Stage 2</h4>
                                            <p>Appellants remaining dissatisfied may have their case considered in full by the Cambridge Assessment English Appeals Committee. The Appeals Committee includes the Chief Executive of Cambridge Assessment English or senior staff nominated by them and at least one member who is not and has not been a member of the board or committees for UCLES/Cambridge Assessment English, or an UCLES/Cambridge Assessment English employee or examiner at any time during the previous seven years.</p>
                                            <p>Formal applications for an appeal to be considered by the Appeals Committee should be made by the Centre Exams Manager/IELTS Administrator <strong>within 14 days</strong> of the receipt of the outcome of the first stage appeal. (In the case of IELTS, the application is made by the Test Centre Administrator at British Council authorised centres, or by IDP Education Ltd.)</p>
                                            <p>Appellants have the right to present their case in person to the Appeals Committee and they will be notified in writing of the outcome of their appeal within 10 weeks of submission.</p>
                                            <p>Consideration of an appeal by the Appeals Committee concludes the Cambridge Assessment English appeals procedure.</p>
                                            <h4>Appeals resulting in a change of decision</h4>
                                            <p>The outcome of an appeal may be a confirmation of the original decision or an overturning of this decision which may, in turn, lead to the award of a higher grade, a lower grade, or no grade change, or to the award of a grade where no previous grade was awarded.</p>
                                            <p>Where an appeal leads to a change of syllabus grade or the award of a grade where no grade was previously awarded, any Results Enquiry and Appeals fees will be refunded in full, and an amended Statement of Results and Certificate, or Test Report Form in the case of IELTS, (where awarded) will be issued.</p>
                                            <h4>Further information</h4>
                                            <p>If you would like information or advice, please <a href="#">contact your nearest centre</a> (or in the case of an IELTS test taken at a centre authorised by IDP Education Ltd, contact <a href="mailto:appeals.ielts@idp.com">appeals.ielts@idp.com</a>).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                </div>
                <!--googleoff: index-->
            </div>
        </div>
    </div>
</main>

