﻿@{
    ViewBag.Title = "ExamPreparation";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main class="bg--image" id="anchor-main" role="main">
    <div class="banner">
        <div class="banner_container">
            <div id="landingPg" class="box landingPage corp-colour-4">
                <!--googleon: index-->




                <script type="text/javascript">

                    $(document).ready(function () {
                        $('.breadcrumb, .breadcrumbs').breadcrumb();
                    });

                </script>
                <header class="subHeader" id="content_subheader">

                    <h1>
                        Exam preparation
                    </h1>
                </header>
                <div class="body">

                    @*<div class="yui3-g mainContentsContainer">*@

                        <div class="yui3-c">

                            <div class="article teaser">
                                <div class="feature">
                                    <div>


                                        <p>To help you prepare for your exam, we have produced free materials such as sample papers, worksheets, vocabulary lists and exam guides for you to download from our website. We also work in collaboration with Cambridge University Press to develop a range of official courses, support materials and practice tests which are available for you to buy.</p>




                                    </div>
                                </div>
                            </div><div class="img--btn-wrapper">
                                <div class="yui3-g">
                                    <div class="yui3-u-1 yui3-u-sm-1-2">
                                        <div class="yui3-c">
                                            <div class="panel panel--heading-overlay panel--heading-overlay--bottom clickable">
                                                <div class="panel_container">
                                                    <h2>
                                                        <img src="~/cambridge/images/exams-young-learners-starters-237px.png" alt="Cambridge English: Preliminary">
                                                        <span class="panel_heading-container">
                                                            <a href="#" title="A1 Starters">A1 Starters</a>
                                                        </span>
                                                    </h2>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="yui3-u-1 yui3-u-sm-1-2">
                                        <div class="yui3-c">
                                            <div class="panel panel--heading-overlay panel--heading-overlay--bottom clickable">
                                                <div class="panel_container">
                                                    <h2>
                                                        <img src="~/cambridge/images/exams-young-learners-movers-273px.png" alt="Cambridge English: Movers">
                                                        <span class="panel_heading-container">
                                                            <a href="#" title="A1 Movers">A1 Movers</a>
                                                        </span>
                                                    </h2>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="yui3-u-1 yui3-u-sm-1-2">
                                        <div class="yui3-c">
                                            <div class="panel panel--heading-overlay panel--heading-overlay--bottom clickable">
                                                <div class="panel_container">
                                                    <h2>
                                                        <img src="~/cambridge/images/exams-young-learners-flyers-273px.png" alt="Cambridge English: Flyers">
                                                        <span class="panel_heading-container">
                                                            <a href="#" title="A2 Flyers">A2 Flyers</a>
                                                        </span>
                                                    </h2>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                        </div>

                    @*</div>*@
                </div>
                <!--googleoff: index-->
            </div>
        </div>
    </div>
</main>
