﻿
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main class="bg--image" id="anchor-main" role="main">
    <div class="banner">
        <div class="banner_container">
            <div id="landingPg" class="box landingPage cpe">
                <!--googleon: index-->
                



                <script type="text/javascript">

    $(document).ready(function () {
        $('.breadcrumb, .breadcrumbs').breadcrumb();
    });

                </script>
                <header class="subHeader" id="content_subheader">

                    <h1>
                        Help
                    </h1>
                </header>
                <div class="body">

                 
                            <div class="yui3-c">

                                <div class="article teaser">
                                    <div class="feature">
                                        <div>


                                            <h1>Welcome to help</h1>
                                            <p>We have listed lots of useful links to help you get more from the Cambridge English website. Don’t forget you can <a href="#" title="Local websites">view the Cambridge English website in another language</a>.</p>

                                            <h2>Exams and qualifications</h2>
                                            <p>We have a range of English language exams and teaching qualifications. If you’re not sure which exam is right for you, use our <a href="#" title="Free online test">free online test</a> to help you find out.</p>
                                            <ul>
                                                <li><a href="#" title="English language exams">English language exams</a></li>
                                                <li><a href="#" title="Teaching Qualifications and Courses">Teaching qualifications and courses</a></li>
                                                <li><a href="#" title="Test your English">Test your English</a></li>
                                            </ul>

                                            <hr>
                                            <h2>Booking your exam</h2>
                                            <p>To register for an exam you will need to contact one of our authorised test centres. You can search from more than 2,800 exam centres around the world.</p>
                                            <ul>
                                                <li><a href="#" title="How to register for your exam">How to register</a></li>
                                                <li><a href="#" title="Find an exam centre">Find an exam centre</a></li>
                                                <li><a href="#" title="Special requirements">Special requirements</a></li>
                                                <li><a href="#" class="no-icon" title="Exam Regulations">Exam regulations</a></li>
                                                <li><a href="#" class="no-icon" title="Summary Regulations">Summary exam regulations</a></li>
                                            </ul>

                                            <hr>
                                            <h2>Getting ready for your exam</h2>
                                            <p>We have lots of useful information and free support to help you get ready for your exam.</p>
                                            <ul>
                                                <li><a href="#" title="Exam preparation">Exam preparation</a></li>
                                                <li><a title="Free practice activities" href="#">Free practice activities</a></li>
                                                <li><a title="Cambridge English on Facebook" href="https://www.facebook.com/CambridgeEnglish">Like our Facebook page</a></li>
                                                <li><a href="#" title="Parents and children">Information for parents</a></li>
                                                <li><a href="#" title="Total qualification time">Total qualification time</a></li>
                                            </ul>

                                            <hr>
                                            <h2>Your results and exam experience</h2>
                                            <p>Use the links below to find how to access your results, what they mean and what to do if you have questions about your results or exam experience.</p>
                                            <ul>
                                                <li><a title="Access your results online" href="#">Access your results online</a></li>
                                                <li><a href="#" title="Cambridge English Scale - Content -- DO NOT EDIT THIS COMPONENT">Cambridge English Scale</a></li>
                                                <li><a href="#" title="Lost certificates">Lost certificates</a></li>
                                                <li><a href="#" title="Malpractice">Malpractice</a></li>
                                                <li><a href="#" title="Special considerations">Special considerations</a></li>
                                                <li><a href="#" title="Enquiries and appeals">Enquiries and appeals</a></li>
                                                <li>
                                                    <a href="#" title="Sharing your results with institutions/organisations to verify your grade" target="_blank">
                                                        Sharing your results with institutions/organisations
                                                        <br>
                                                    </a>
                                                </li>
                                            </ul>

                                            <hr>
                                            <h2>Still have a question?</h2>
                                            <p>Our helpdesk team have lots of experience helping customers around the world and can help you get your query solved as quickly as possible. <a href="#" title="Customer Charter">This is all part of our customer promise</a>.</p>
                                            <p>If you still haven’t found an answer to your question, we have <a href="#">lots of useful articles</a> which cover the questions we get asked the most. If they don’t answer your questions, our helpdesk team are ready to help.</p>
                                            <p><a href="#" title="Helpdesk" class="readMore">Get in touch with our helpdesk team</a></p>
                                            <hr>
                                            <p>If you’re not happy with your experience with Cambridge English, we welcome your feedback. <a href="#" title="Complaints policy">Learn more about our complaints policy</a>.</p>




                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                </div>
                <!--googleoff: index-->
            </div>
        </div>
    </div>
</main>
