﻿
@{
    ViewBag.Title = "TestYourEnglish";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main id="anchor-main" role="main">

    <div class="banner">
        <div class="banner-image">
            <img src="~/cambridge/images/test-your-english-banner-2019.jpg" alt="Test your English - the free English test from Cambridge Assessment English">
        </div>
    </div><div class="banner">
        <div class="banner_container">
            <div class="panel panel-intro__heading">
                <header class="panel__header">
                    <h1>Test Your English</h1>
                </header>
                <div class="panel__body">
                    <p></p><p>We are Cambridge Assessment English. Part of the University of Cambridge, we help millions of people learn English and prove their skills to the world.</p><p></p>
                </div>
            </div>
        </div>
    </div><div class="banner banner-circle-cta">
        <div class="banner_container">
            <div class="panel circle-cta_container">
                <div class="panel__body">
                    <p></p><h2>Find out which Cambridge English exam may be best for you. Take our quick, free online test. </h2><p></p>
                    <div class="panel--improve-english-4 circle-cta_panel">
                        <div class="yui3-g">
                            <div class="yui3-u-1-2 yui3-u-md-1-4">
                                <div class="yui3-c">
                                    <div class="panel panel--circle-promo">
                                        <a href="#" target="_self">
                                        </a><div class="panel__body corp-colour-2">
                                            <a href="#" target="_self">
                                                <img src="~/cambridge/images/tye-general-button-2019.jpg" class="image-circle" alt="Test Your English General English">
                                            </a><p><a href="#" target="_self"></a><a href="#" class="readMore"><font color="#F2F1F0">Begin test</font></a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="yui3-u-1-2 yui3-u-md-1-4">
                                <div class="yui3-c">
                                    <div class="panel panel--circle-promo">
                                        <a href="#" target="_self">
                                        </a><div class="panel__body corp-colour-4">
                                            <a href="#" target="_self">
                                                <img src="~/cambridge/images/tye-schools-button-2019.jpg" class="image-circle" alt="Test your English Schools">
                                            </a><p><a href="#" target="_self"></a><a href="#" class="readMore"><font color="#F2F1F0">Begin test</font></a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="yui3-u-1-2 yui3-u-md-1-4">
                                <div class="yui3-c">
                                    <div class="panel panel--circle-promo">
                                        <a href="#" target="_self">
                                        </a><div class="panel__body corp-colour-3">
                                            <a href="#" target="_self">
                                                <img src="~/cambridge/images/tye-business-button-2019.jpg" class="image-circle" alt="Test your English Business">
                                            </a><p><a href="#" target="_self"></a><a href="#" class="readMore"><font color="#F2F1F0">Begin test</font></a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="yui3-u-1-2 yui3-u-md-1-4">
                                <div class="yui3-c">
                                    <div class="panel panel--circle-promo">
                                        <a href="#" target="_self">
                                        </a><div class="panel__body corp-colour-8">
                                            <a href="#" target="_self">
                                                <img src="~/cambridge/images/tye-young-learners-button-2019.jpg" class="image-circle" alt="Test Your English Young learners">
                                            </a><p><a href="#" target="_self"></a><a href="#" class="readMore"><font color="#F2F1F0">Begin test</font></a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="banner">
        <div class="banner_container">
            <div class="panel panel-intro__heading">
                <header class="panel__header">
                    <h2>Prepare for your Cambridge English exam</h2>
                </header>
                <div class="panel__body">
                    <p></p><p>We have lots of exam preparation to help you get ready for your exam. These include free materials such as sample papers, vocabulary lists and worksheets. Search for your exam and find the preparation materials you need.</p><p></p>
                </div>
            </div>
        </div>
    </div><div class="cta-button-cont">
        @*<a href="/learning-english/exam-preparation/index.aspx" class="cta-button">Exam preparation</a>*@
    </div><div class="banner">
        <div class="banner_container">
            <div class="yui3-g article">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <a href="#"><img src="~/cambridge/assets/img/odm/1.JPG" alt="Cambridge English Qualifications"></a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <a href="#"><img src="~/Content/Cambridge/logo1.png" alt="Cambridge English Qualifications"></a>
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">
                                    <h3>Your path to learning English, step by step</h3>
                                    <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and rewarding. Our unique approach encourages continuous progression with a clear path to improve language skills. We have qualifications for schools, general and higher education, and business.</p>
                                </div>
                                <p><a href="#" class="article__learnmore-link">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="banner">
        <div class="banner_container">
            <div class="yui3-g article article--alt">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <a href="#"><img src="~/cambridge/assets/img/odm/2.jpg" alt="Linguaskill"></a>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <a href="#"><img src="~/Content/Cambridge/logo3.png" alt="Linguaskill"></a>
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">
                                    <h3>Online English testing, simplified</h3>
                                    <p>Linguaskill is a quick and convenient online test to help higher education institutions and employers check the English levels of individuals and groups of candidates. It combines the latest technology with the reliability and quality you expect from Cambridge.</p>
                                </div>
                                <p><a href="#" class="article__learnmore-link">Learn more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><div class="banner">
        <div class="banner_container">
            <div class="panel panel-intro__heading">
                <div class="panel__body">
                    <p></p><p>Please note: <em>Test Your English is not a Cambridge English exam and the test scores and levels are very approximate. Your score on this test cannot be used as proof of a formal language qualification</em>.</p><p></p>
                </div>
            </div>
        </div>
    </div><div class="article teaser">
        <div class="feature">
            <div>


                <img src="/Images/icon-tye-general-english.png" style=" display:none; width: 61px; height: 75px;" alt="Icon - Test you English general - Image" title="Icon - Test you English general - Image"> <img src="/Images/icon-tye-business-english.png" style="width: 50px; display:none; height: 75px;" alt="Copy of Icon - Test you English business - Image" title="Copy of Icon - Test you English business - Image"> <img src="/Images/icon-tye-young-learners.png" title="Icon - Test you English Monkey - Image" alt="Icon - Test you English Monkey - Image" style="width: 80px; height: 75px; display:none;"> <img src="/Images/icon-tye-for-schools.png" style="width: 40px; height: 75px; display:none;" alt="Icon - Test your English Arrow - Image" title="Icon - Test your English Arrow - Image">




            </div>
        </div>
    </div>
</main>
