﻿@{
    ViewBag.Title = "WhyCambridgeEnglish";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main id="anchor-main" role="main">

    <div class="banner">
        <div class="banner_container">
           
                   
                            <div>


                                <h2>We are Cambridge Assessment English</h2>
                                <p>Part of the University of Cambridge, we help millions of people learn English and prove their skills to the world.</p>
                                <p>For us, learning English is more than just exams and grades. It’s about having the confidence to communicate and access a lifetime of enriching experiences and opportunities.</p>
                                <p>With the right support, learning a language is an exhilarating journey. We’re there with learners, every step of the way.</p>
                                <h2>Our qualifications and tests</h2>
                                <p>We provide the world’s leading range of qualifications and tests for learners and teachers of English:</p>
                                <ul>
                                    <li><a href="#">Cambridge English Qualifications</a></li>
                                    <li><a href="#">Linguaskill</a></li>
                                    <li><a href="#">IELTS</a></li>
                                    <li><a href="#">Cambridge English Teaching</a></li>
                                </ul>
                                <p>Our qualifications and tests are accepted by over 25,000 organisations worldwide, and provide the English language skills to communicate and succeed in the real world.</p>
                                <h2>We can help you to learn English</h2>
                                <p>Whether you’re preparing to take one of our exams, or just want to improve your English, we can help you. We have free materials that you can download, and activities that can help you improve your English online.</p>
                                @*<p><a href="/learning-english" class="readMore">Check out Learning English</a></p>*@
                                <p>If you want to take things further, you can buy official practice materials from Cambridge University Press</p>
                                @*<p><a href="http://www.cambridge.org/elt" class="readMore">Find official practice materials</a></p>*@
                                <h2>A few facts and figures about us</h2>
                                <ul>
                                    <li>More than <strong>5.5 million people</strong> take our qualifications and tests every year.</li>
                                    <li>We have over <strong>2,800 exam centres</strong> in 130 countries.</li>
                                    <li>Over <strong>50,000 preparation centres</strong> around the world prepare learners to take our exams.</li>
                                    <li>We’ve been providing English language assessment <strong>since 1913</strong>.</li>
                                </ul>




                            </div>
                    
           
        </div>
    </div>
</main>
