﻿
@{
    ViewBag.Title = "PurposeList";
    Layout = "~/Views/Shared/_ReceiptLayoutPage.cshtml";
}

@model IEnumerable<odm_site.Models.Tbl_Purpose>
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Purpose List</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                       
                        <a class="btn btn-primary" href="/Receipt/CreateOrEditPurpose"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Purpose</th>                                    
                                    <th>Added On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        int i = 0;

                                        foreach (var a in Model)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.Purpose_Name</td>
                                                <td>@(Convert.ToDateTime(a.Inserted_On).ToString("dd MMM yyyy"))</td>

                                                <td>
                                                    <a href="/Receipt/CreateOrEditPurpose/@a.Purpose_Id"><i class="fa fa-edit"></i></a>
                                                    <a href="/Receipt/RemovePurposeById/@a.Purpose_Id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

