﻿
@{
    ViewBag.Title = "AboutCambridge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>About Cambridge | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Public School is the flagship school of ODM Educational Group, Odisha's emerging educational group. Over the past decade, ODM has garnered a strong reputation as one of the top CBSE schools of the state and definitely as the best residential school of the state because of its dedication and sheer focus on Academics and service to parents.">
    <meta name="keywords" content="About ODM School, About ODM, Overview Of ODM, Overview Of ODM School, Overview of ODM Public School">
    <link rel="canonical" href="https://www.odmps.org/Home/AboutCambridge" />
}


<section class="margin-top-45">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12">
                <section class="inner-lead">
                    <div class="row" style="border-bottom:1px solid black;">
                        <h1>About Cambridge</h1>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 clearfix" style="padding-left: 30px; padding-right: 30px; font-size: 16px; padding-top: 60px;">
                            <h2>Your path to learning English, step by step</h2>
                            <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and rewarding. Our unique approach encourages continuous progression with a clear path to improve language skills. We have qualifications for schools, general and higher education, and business.</p>
                        </div>
                        <div class="col-lg-5 clearfix">
                            <img style="width:100%;" src="~/Content/Cambridge/ap1.jpg" alt="Cambridge English Qualifications">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="margin-top-15">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12">
                <section class="inner-lead">
                    <div class="row">
                        <div class="col-lg-5 clearfix">
                            <img style="width:100%;" src="~/Content/Cambridge/ap2.jpg" alt="Cambridge English Qualifications">
                        </div>
                        <div class="col-lg-7 clearfix" style="padding-left: 30px; padding-right: 30px; font-size: 16px; padding-top: 60px;">
                            <h2>Online English testing, simplified</h2>
                            <p>Linguaskill is a quick and convenient online test to help higher education institutions and employers check the English levels of individuals and groups of candidates. It combines the latest technology with the reliability and quality you expect from Cambridge.</p>
                        </div>
                       
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<section class="margin-top-15">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12">
                <section class="inner-lead">
                    <div class="row">
                        
                        <div class="col-lg-7 clearfix" style="padding-left: 30px; padding-right: 30px; font-size: 16px; padding-top: 60px;">
                            <h2>Prove your skills to study, live and work abroad</h2>
                            <p>We are the producer and proud co-owner of IELTS, the world’s leading English test for migration and higher education. We provide a range of preparation, support materials and resources to help learners successfully prove their English skills to thousands of organisations worldwide.</p>
                        </div>
                        <div class="col-lg-5 clearfix">
                            <img style="width:100%;" src="~/Content/Cambridge/ap3.jpg" alt="Cambridge English Qualifications">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>



