﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Latest Updates | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Public School latest update : @(HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(ViewBag.Firstlatestupdate.description).ToString().Length < 200 ? (StripHTML(ViewBag.Firstlatestupdate.description).ToString()) : StripHTML(ViewBag.Firstlatestupdate.description).ToString().Substring(0, 200)))) […]">
    <meta name="keywords" content="Latest Updates in odm public school,Latest Updates in odm,Latest Updates in odm school,Latest Updates,all Latest Updates in odm public school,all Latest Updates in odm school,all Latest Updates in odm,all Latest Updates" />
    <link rel=" canonical" href="https://www.odmps.org/Home/latestupdates" />
}
@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        System.Text.RegularExpressions.Regex _htmlRegex = new System.Text.RegularExpressions.Regex("<.*?>", System.Text.RegularExpressions.RegexOptions.Compiled);
        input = _htmlRegex.Replace(input, string.Empty);
        @input
    }
}
<link href="~/Content/pagination/css/jquery.snippet.min.css" rel="stylesheet" />
<link href="~/Content/pagination/css/styles.css" rel="stylesheet" />
<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <section class="inner-lead">
                    <div class="row">
                        <div class="col-lg-9 clearfix">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                @if (ViewBag.latestupdatelist != null)
                                {
                                    <div id="easyPaginate">
                                        @foreach (var a in ViewBag.latestupdatelist)
                                        {
                                            <section>
                                                <div class="col-xs-12 col-sm-12 col-md-12 blog-posts" style="border-bottom: 1px dashed #ea3637;    margin-bottom: 25px;">
                                                    <div class="a-post a-post-">
                                                        <h1>@a.title</h1>
                                                        <div class="blog-posts-panel">
                                                            @if (a.latestupdateimage != null)
                                                            {
                                                                <div>
                                                                    <img src="../../Images/latestupdates/@a.latestupdateimage" />
                                                                </div>
                                                            }
                                                            @*<ul class="slider-nav-list latestupdate-slider-nav-list">
                        <li class="slider-nav prev slick-arrow" style="display: block;">
                            <span class="glyphicon glyphicon-menu-left" style="top: -38px;"></span>
                        </li>
                        <li class="slider-nav next slick-arrow" style="display: block;">
                            <span class="glyphicon glyphicon-menu-right" style="top: -38px;"></span>
                        </li>
                    </ul>*@
                                                                @*<div class="gallery-thumb article-thumb" style="background-image:url('../Images/blog/@a.image');"></div>*@
                                                                <div class="box-body">
                                                                    <h5>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM, yyyy hh:mm tt"))</h5>
                                                                    <p>

                                                                        @HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(a.description).ToString().Length < 300 ? (StripHTML(a.description).ToString()) : StripHTML(a.description).ToString().Substring(0, 300))) […]
                                                                    </p>
                                                                    <a class="btn btn-cta btn-sm" href="/Home/latestupdatedetails/@a.id">Read More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </section>
                                        }
                                    </div>
                                }

                            </div>
                        </div>

                        <div class="col-xs-12 col-lg-3 clearfix">
                            <div id="locations" class="widget widget_locations">
                                <div class="title-bar enquiry-box"><h3>Information</h3></div>
                                <ul>
                                    <li class="cat-item cat-item-35"><a href="/Home/InformationBooklet">Information Booklets</a></li>
                                    <li class="cat-item cat-item-33"><a href="/Home/Notices">School Notices</a></li>
                                    <li class="cat-item cat-item-34"><a href="/Home/Eventvideos">Event Videos</a></li>
                                    <li class="cat-item cat-item-37"><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download App</a></li>
                                </ul>
                            </div>
                            <div id="text-2" class="widget widget_text">
                                <div class="textwidget"></div>
                            </div>

                            <div id="text-3" class="widget widget_text">
                                <div class="textwidget">
                                    <p></p>
                                    <center><a class="btn btn-cta" href="/Home/admission_enquiry" onclick="ga('send', 'event', 'button', 'clicked', 'blog enquiry')">Enquire For Admission</a></center><p></p>
                                </div>
                            </div><div id="text-4" class="widget widget_text"><div class="textwidget"><p><br><br><br></p></div></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
<script src="~/Content/pagination/js/bootstrap.min.js"></script>
<script src="~/Content/pagination/js/jquery.snippet.min.js"></script>
<script src="~/Content/pagination/lib/jquery.easyPaginate.js"></script>
<script src="~/Content/pagination/js/scripts.js"></script>