﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Media Gallery | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="Media Gallery contains detailed information on ODM Public School program of certification. The information contained...">
    <meta name="keywords" content="Media Gallery,Media Gallery in odm, Media Gallery in odm public school, Media Gallery in odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/mediagallery" />
}
<link href="~/Content/owlcarosel/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owlcarosel/assets/owl.theme.default.min.css" rel="stylesheet" />

<style>
    /*.owl-carousel .owl-item img{
          width:auto;
      }*/
    article {
        columns: 3;
    }

    section {
        position: relative;
        margin-bottom: 15px;
    }

    .images img {
        width: 100%;
        box-shadow: 0px 0px 5px 0px #5a5a5a;
        transition: transform 400ms ease-out;
        /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    }

        .images img:hover {
            opacity: 0.7;
            transform: scale(1.05);
            /*-webkit-filter: grayscale(0%);
    filter: grayscale(0%);*/
        }

    .centered {
        position: absolute;
        top: 50%;
        font-size: 10px;
        left: 20%;
        right: 20%;
        font-weight: 700;
        bottom: 50%;
        color: white;
        text-align: center;
    }

        .centered:hover {
            color: white;
        }

    .owl-prev, .owl-next {
        font-size: 10px !important;
        font-weight: bolder !important;
        width: 15px;
        height: 100px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border: 0px solid black;
    }

    .owl-prev {
        left: -40px;
    }

    .owl-next {
        right: -40px;
    }

        .owl-prev i, .owl-next i {
            transform: scale(2,5);
            color: #ccc;
        }
</style>

@*<link href="~/Content/mediagallery.css" rel="stylesheet" />*@
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <img src="../../Content/banner/media [2].jpg" style="width:100%;height:390px;" />

        </div>
    </div>
</section>
@*<section class="home-slider-container">
        <div class="home-slider">

            <div class="item" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1263px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                <div class="bg" style="background:url('../../Content/banner/media [2].jpg') center center no-repeat;background-size:cover"></div>
                <div class="info">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="mask">
                                    <h1>Media Gallery</h1>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>*@
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Media Gallery." href="/Home/mediagallery" class="post post-page current-item"><span property="name">Media Gallery</span></a><meta property="position" content="2"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-sm-12 col-md-12">
        <section class="inner-lead">
            <div class="row">
                <div class="col-lg-9 clearfix">
                    <h1>Media</h1>
                    <article>
                        @if (ViewBag.mediagallery != null)
                        {
                            foreach (var a in ViewBag.mediagallery)
                            {
                                <a style="cursor:pointer;" onclick="getgallery(@a.id,'@a.title','@a.image')">
                                    <section style="padding:0px;">
                                        <div class="images">
                                            <img src="~/Images/media/@a.image">
                                            <div class="centered">@a.title</div>
                                        </div>
                                    </section>
                                </a>
                            }
                        }
                        <div class="modal fade" id="modalgallery" tabindex="-1" role="dialog">
                            <div class="modal-dialog" style="width:100%;">
                                @*<div class="modal-content" style="background-color:transparent;width:auto;">*@
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" style="color: white; padding: 0px;font-weight: 800;" id="headingtitle"></h4>

                                </div>
                                <div class="modal-body">
                                    <div class="clearfix" style="margin-bottom:20px;"></div>
                                    <div class="row">

                                        <div class="owl-carousel owl-theme">


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-3">
                    <div class="static-testimonial-box">
                        <span class="fa fa-quote-left quote quote-top"></span>
                        <div class="person-box">
                            <img src="~/Content/testimonial/SANIYA KHAN.jpg" alt="Photo">
                            <div class="details">
                                <p class="name">SANIYA KHAN</p><p class="designation">Student, Class IX</p>
                            </div>
                        </div><blockquote class="testimonial">“Loved it. ODM Teachers are very friendly and helping. It’s like a big family. The lessons are very good and the atmosphere between students, too. If i had to choose again, I would choose them.”</blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                    </div>
                    <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                    @Html.Partial("Recentblogs")
                </div>
            </div>
        </section>
    </div>
</div>
@*<script src="~/Content/mediagallery.js"></script>*@
<script src="~/Content/owlcarosel/jquery.min.js"></script>
<script src="~/Content/owlcarosel/owl.carousel.min.js"></script>

<script>
    function getgallery(id, title, image) {
        var owl = $(".owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            margin: 10,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            dots: false,
            nav: true,
            navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            //navigationText: ["<span>Previous</span>", "<span>next</span>"]
        });
        debugger;
        //$.get('/Home/GetImages', { id: id }, function (data) {
        //    debugger;
        // $('#imageslider').empty();
        var length = $('.owl-carousel .item').length;
        for (var i = 0; i < length; i++) {
            owl.trigger('remove.owl.carousel', [i]).trigger('refresh.owl.carousel');
        }
        //if (data.length > 0) {
        var result = '';

        //$.each(data, function (index, value) {
        owl.trigger('add.owl.carousel', [jQuery('<div class="item"><img src="/Images/media/' + image + '" alt="odm images" /></div>')]);
        //});
        owl.trigger('refresh.owl.carousel');
        owl.owlCarousel();
        $('#headingtitle').html(title);

        //$('#imageslider').owlCarousel('update');
        $('#modalgallery').modal('show');
        //}
        //})
    }

</script>