﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Privacy Policy | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Public School, with just three decades of presence, has garnered a strong repertoire to become one of the best Public schools in the country. The prestigious Public school was started with a mission to build a community of leaders, over a foundation of shared beliefs, values and ethos. ODM is dedicated to nurturing responsive and motivated students through a dynamic and success-oriented education program. The program empowers students to gain an indigenous as well as a global perspective on various aspects. With its world-class campus, ODM is regarded as one of India’s top public schools with its high standards of teaching methodology, technology collaboration, and global culture in every aspect of learning.">
    <meta name="keywords" content="Privacy Policy in odm, Privacy Policy in odm public school, Privacy Policy in odm school,  Privacy Policy of odm, Privacy Policy of odm public school, Privacy Policy of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/privacypolicy" />
}

<div class="container" style="padding:80px 0px;text-align:justify;">
 
            <div class="form-group">
                <h1>Privacy Policy</h1>
                <h2>INTRODUCTION</h2>
                <p>ODM Public School, with just three decades of presence, has garnered a strong repertoire to become one of the best Public schools in the country. The prestigious Public school was started with a mission to build a community of leaders, over a foundation of shared beliefs, values and ethos. ODM is dedicated to nurturing responsive and motivated students through a dynamic and success-oriented education program. The program empowers students to gain an indigenous as well as a global perspective on various aspects. With its world-class campus, ODM is regarded as one of India’s top public schools with its high standards of teaching methodology, technology collaboration, and global culture in every aspect of learning.</p>

                <h2>
                    INFORMATION COLLECTED
                </h2>
                <p>
                    ODM collects personally-identifiable information when the user (student/parent/guardian etc) visits our website for inquiry, registration, request for abstracts and publications, sign up for newsletters, participate in surveys, bulletin boards and discussion forums, etc. The personally-identifiable information collected may consist of a unique access ID and contact information such as names, mailing addresses, e-mail addresses, telephone, and fax numbers.
                </p>

                <h2>USE OF INFORMATION</h2>
                <p>
                    On furnishing the personal identifiable information by the Users ODM allows the user to access the site and data/information embedded in the site. Personally identifiable information includes name, address, email ID, phone number, campus interested in and your child’s name. ODM uses personally-identifiable information to correspond with you. The intention behind gathering the personally identifiable information is to contact you and help with the information you require. In the event of the user doesn’t want to allow, continue the use of information by the ODM the user may ask us and we will respect your wishes. ODM uses personally-identifiable information collected from cookies and IP addresses as described below.
                </p>
                <h2>THIRD-PARTY WEBSITES, EXTERNAL LINKS</h2>
                <p>
                    The ODM website contains links to third-party websites. We request user discretion in accessing the links, contents therein. ODM does not take any responsibility of whatsoever nature as to the content of third-party sites and safety/security of information furnished to such third parties. We strongly recommend, encourage you/users to review and understand the terms and conditions including the privacy policies of these websites before providing any information to them.
                </p>
                <h2>
                    COOKIES AND IP ADDRESSES
                </h2>
                <p>
                    Cookies are small data files that certain websites write to the user’s hard drive when a site is visited. The Site uses cookies to facilitate better services. By accepting our cookie, your details are stored and a registered user is permitted access to certain pages of our Site without having to log on each time. ODM recommends in this case that you secure the access of your computer in order to avoid usage of the Site by unauthorized persons with your personal login and password. ODM also logs IP addresses, or the location of a computer on the Internet, to help diagnose problems with our server, to administer the Site and for security reasons. We sometimes collect anonymous information from visitors to our sites to help us provide better service. For example, we keep track of the domains from which people visit and we also measure visitor activity on ODM websites, but we do so in ways that keep the information anonymous. The ODM or its affiliates or vendors may use this data to analyze trends and statistics and to help us provide better customer service. We maintain the highest levels of confidentiality for this information, our affiliates and vendors follow the same high levels of confidentiality. This anonymous information is used and analyzed only at an aggregate level to help us understand trends and patterns. None of this information is reviewed at an individual level. If you do not want your transaction details used in this manner, you can either disable your cookies or opt-out at the download or request page.
                </p>
                <h2>
                    CONSENT
                </h2>
                <p>The Site provides links to Websites and access to content, products, and services from third parties, including users, advertisers, affiliates and sponsors of the Site. You agree that ODM is not responsible for the availability of, and content provided on, third-party Websites. The User is requested to peruse the policies posted by other Websites regarding privacy and other topics before use. ODM is not responsible for third party content accessible through the Site, including opinions, advice, statements, and advertisements and User shall bear all risks associated with the use of such content. ODM is not responsible for any loss or damage of any sort that a User may incur from dealing with any third party. The documents and content, pictures on this site may contain or include any technical, typographical errors and does not guarantees the complete assurance, guaranty of the correctness and accuracy of the content and information. ODM may revise or change the Terms of Use at any time without notice to you. Changes are periodically added to the information herein. In no event, ODM or its subsidiaries or its licensor shall be held liable to any party for any direct or indirect, special or other consequential damages for any misuse of the site, information By using the Site, you consent to the collection, use and processing of your personally identifiable information by us in the manner and for the uses described in this Privacy Policy and our Terms of Use. We reserve the right to make changes to these policies as appropriate and will alert you to any changes made. You may choose to give us personal information, such as your name and address or e-mail id that may be needed, for example, to correspond with you, to download our resources or to provide you with a subscription or avail of any promotions. If you tell us that you do not want us to use this information as a basis for further contact with you, we will respect your wishes. We intend to protect the quality and integrity of your personally identifiable information. We will make a sincere effort to respond in a timely manner to your requests to correct inaccuracies in your personal information. To correct inaccuracies in your personal information please return the message containing the inaccuracies to the sender with details of the correction requested.</p>
            </div>
    
</div>