﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Testimonial | ODM PUBLIC SCHOOL</title>
   
}
<section class="breadcrumbs-container"><div class="container"><div class="row"><div class="col-xs-12"><div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/"><span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a><meta property="position" content="1"></span> &gt; <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Testimonials." href="/Home/testimonial" class="archive post-testimonial-archive current-item"><span property="name">Testimonials</span></a><meta property="position" content="2"></span></div></div></div></div></section>
<div class="container">
    <section class="inner-lead">
        <div class="row">
            <div class="col-lg-9">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="row">
                        @if (ViewBag.testimonials != null)
                    {
                        foreach (var item in ViewBag.testimonials)
                        {
                            <div class="col-xs-12 col-sm-12 col-md-12 blog-posts">
                                <div class="a-post a-post-">
                                    <h2>@item.name</h2>
                                    <p class="text">@item.message</p>
                                    <p class="designation">
                                        <strong>@item.name</strong> (@item.designation)
                                    </p>
                                    <iframe class="testimonialVideo" width="100%" height="300" data-src="@item.videolink" frameborder="0" allowfullscreen="" src="@item.videolink"></iframe>
                                </div>
                            </div>
                        }
                    }




                    </div>
                    <div class="row"></div>
                 
                </div>
            </div><div class="col-xs-12 col-lg-3"><h2>Recent Posts</h2>
           @Html.Partial("Recentblogs")</div>
        </div>
    </section>
</div>