﻿<div class="article-thumbnail">
    @using (Html.BeginForm("saveenquirydetails", "Home", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
    {
        <input type="hidden" name="action" value="form_handler">
        <div class="form-group">
            <label for="firstname">
                First Name <span class="text-danger">*</span>
            </label><input type="text" name="firstname" id="firstname" data-rule-required="true" data-msg-required="Please write your firstname" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="lastname">
                Last Name <span class="text-danger">*</span>
            </label><input type="text" name="lastname" id="lastname" data-rule-required="true" data-msg-required="Please write your lastname" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="fathername">
                Father's Name <span class="text-danger">*</span>
            </label><input type="text" name="fathername" id="fathername" data-rule-required="true" data-msg-required="Please write your father's name" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="dob">
                Date Of Birth <span class="text-danger">*</span>
            </label><input type="date" name="dob" id="dob" data-rule-required="true" data-msg-required="Please write your dob" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="classid">
                Admission For Class <span class="text-danger">*</span>
            </label>
            <select name="classid" id="classid" data-rule-required="true" data-msg-required="Please select your class" class="form-control input-sm">
                <option value="0">Select class</option>
                @if (ViewBag.classlist != null)
                {
                    foreach (var item in ViewBag.classlist)
                    {
                        <option value="@item.Class_Id">@item.Class_Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="presentschool">
                Present School <span class="text-danger">*</span>
            </label><input type="text" name="presentschool" id="presentschool" data-rule-required="true" data-msg-required="Please write your present school" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="emailid">
                Email ID <span class="text-danger">*</span>
            </label><input type="email" name="emailid" id="emailid" data-rule-required="true" data-msg-required="Please write your email id" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="phone">
                Phone No <span class="text-danger">*</span>
            </label><input type="tel" name="phone" id="phone" data-rule-required="true" data-msg-required="Please write your phone" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="city">
                City <span class="text-danger">*</span>
            </label><input type="text" name="city" id="city" data-rule-required="true" data-msg-required="Please write your city" size="40" class="form-control input-sm" required="">
        </div>
        <div class="form-group">
            <label for="description">
                Description <span class="text-danger">*</span>
            </label><textarea name="description" id="description" data-rule-required="true" data-msg-required="Please write your description" size="40" rows="9" class="form-control input-sm" required=""></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="SUBMIT" id="applynow" class="btn btn-cta btn-wide">

        </div>

    }
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/admin_assets/js/jquery.elevatezoom.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();

        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PrevImage19').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#RegImage11").change(function () {
            readURL1(this);
        });
        $(".zoom_10").elevateZoom({
            zoomWindowWidth: 200,
            zoomWindowHeight: 200
        });

    });
</script>
