﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Ranked No. 1 School of Odisha | ODM Public School</title>
    <meta name="description" content="Students study under the guidance of professional and well-qualified teachers. Cumulative efforts have won ODM Public School many national & international awards & accolades.">
    <meta name="keywords" content="Awards and Accolades of ODM,Ranked as the No. 1 School of Odisha,National School Awards 2019,SHRIE Award 2019,World Education Awards 2019, Tech School of the Year by Education,Great Indian School 2018 by Forbes India,State Level Rajiv Gandhi Sadbhavana Award">
    <link rel="canonical" href="https://www.odmps.org/About/awards_and_accolades" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1349px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
            <div class="bg" style="background: url('../../Content/banner/Award collage.jpg') center center no-repeat; background-size: cover;"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="mask">
                                <h1>AWARDS ARE A TESTIMONY OF YOUR HARDWORK</h1>
                                <p>The appreciation that we receive, helps us to move further in our life</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Overview." href="/About/Index" class="post post-page"><span property="name">Overview</span></a>
                        <meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Awards and Accolades." href="/About/awards_and_accolades" class="post post-page current-item">
                            <span property="name">Awards and Accolades</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/About/odm_difference">ODM Difference</a> </li>
                    <li> <a href="/About/Chairman_Message">Chairman's Message</a> </li>
                    <li> <a href="/About/University_Placements">University Placements</a> </li>
                    <li class="active"> <a href="/About/awards_and_accolades">Awards and Accolades</a> </li>
                    <li> <a href="/About/odm_educational_group">ODM Educational Group</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Awards and Accolades</h1>
                        @if (ViewBag.awards != null)
                        {
                            foreach (var item in ViewBag.awards)
                            {
                                <h3>@item.year</h3>
                                <ul>
                                    @foreach (var ab in item.awards)
                                    {
                                        <li>
                                            @ab.description
                                        </li>
                                    }
                                </ul>
                            }
                        }

                    </div>

                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/NANDINI DAS.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">NANDINI DAS</p><p class="designation">Student, Class II</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                I have been a student at ODM for three school years and from what I have experienced, I can tell you it is a great school. The teachers are very reasonable and fair. The staff is excellent and the rules help keep the school safe and in order.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
