﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>University Placements | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Public School constantly seeks to provide our students with academic and career opportunities beyond the years that they study with us. As a college preparatory school, the future success of our students is of paramount importance, yet we also know that this success does not happen instantly. Therefore, preparing our students for the demands of university-level studies requires us to develop a rigorous academic environment, make their studies real-world relevant, and support and guide students in their chosen academic and career paths.">
    <meta name="keywords" content="University Placements">
    <link rel="canonical" href="https://www.odmps.org/About/University_Placements" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Utkarsh Award.jpg') center center no-repeat;background-size:cover">
            </div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>A GREAT CAREER WITHOUT A GREAT EDUCATION IS ONLY A DREAM</h1>
                                <p>Ask yourself if what you are doing today is helping you get closer to what you want to do</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Overview." href="/About/Index" class="post post-page"><span property="name">Overview</span></a>
                        <meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to University Placements." href="/About/University_Placements" class="post post-page current-item">
                            <span property="name">University Placements</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/About/odm_difference">ODM Difference</a> </li>
                    <li> <a href="/About/Chairman_Message">Chairman's Message</a> </li>
                    <li class="active"> <a href="/About/University_Placements">University Placements</a> </li>
                    <li> <a href="/About/awards_and_accolades">Awards and Accolades</a> </li>
                    <li> <a href="/About/odm_educational_group">ODM Educational Group</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>University Placements</h1>
                        <p>ODM Public School constantly seeks to provide our students with academic and career opportunities beyond the years that they study with us. As a college preparatory school, the future success of our students is of paramount importance, yet we also know that this success does not happen instantly. Therefore, preparing our students for the demands of university-level studies requires us to develop a rigorous academic environment, make their studies real-world relevant, and support and guide students in their chosen academic and career paths.</p>
                        <h2>Some of the Universities where ODMians made us proud-</h2>
                        <p>Every year our students are placed in top 100 Universities listed in the QS world ranking.</p>
                        <h4>IVY Leagues in USA</h4>
                        <ul class="">
                            <li>Harvard University</li>
                            <li>University of Pennsylvania</li>
                            <li>Cornell University</li>
                        </ul>
                        <h4>Other Popular Colleges/Universities</h4>
                        <ul class="">
                            <li>London School of Economics</li>
                            <li>UC Riverside</li>
                            <li>Penn State</li>
                            <li>Kings College of London</li>
                            <li>University of Auckland</li>
                        </ul>
                        <h4>
                            Top Institutes in India
                        </h4>
                        <ul class="">
                            <li>
                                IIT-Bombay
                            </li>
                            <li>
                                IIT-Kharagpur
                            </li>
                            <li>
                                IIT- Kanpur
                            </li>
                            <li>
                                IIT-BHU
                            </li>
                            <li>
                                IIT- Bhubaneswar
                            </li>
                            <li>
                                IIM-Bangalore
                            </li>
                            <li>
                                IIM-Shillong
                            </li>
                            <li>
                                IIM- Lucknow
                            </li>
                            <li>
                                Shri Ram College of Commerce
                            </li>
                            <li>
                                Hansraj College
                            </li>
                            <li>
                                St. Stephen’s College
                            </li>
                            <li>
                                Christ University
                            </li>
                            <li>
                                University of Calcutta
                            </li>
                            <li>
                                NALSAR
                            </li>
                            <li>
                                Symbiosis Pune
                            </li>
                            <li>
                                TATA Institute of Social Science
                            </li>
                            <li>
                                National Institute of Fashion Technology
                            </li>
                            <li>
                                BITS Pilani
                            </li>
                            <li>SRM University</li>
                        </ul>

                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/ADITYA PRASAD TRIPATHY.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">ADITYA PRASAD TRIPATHY</p><p class="designation">Student, Class III</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM expects nothing less than the best from each and every student. Teachers are here to teach but at this school they inspire. They are compassionate and caring towards the students. Tutoring and after-school programs are offered to all students.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

