﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SalaryLayoutPage.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="fa fa-file"></i>
                    Add Invoice Details

                </h3>
            </div>
            @using (Html.BeginForm("UploadInvoice", "Invoice", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken();
                <div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Download Excel File<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <a href="@Url.Action("DownloadSampleInvoiceExcel", "Invoice")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Download Excel</span> </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Upload Excel File<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>

                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <button id="btnAddSchool" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

