﻿
@{
    ViewBag.Title = "awards";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Awards</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Admin/createoreditawards"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="box-tool box-tooll text-left">
                        <h4>Select 4 awards for Main Page view...</h4><a class="btn btn-primary" id="addbtn"><i class="fa fa-folder"></i><span>Submit</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Select</th>
                                    <th>Name</th>
                                    <th>Year</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Added On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.awardslist != null)
                                    {
                                        int i = 0;

                                        foreach (var a in ViewBag.awardslist)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td><input type="checkbox" value="@a.id" name="selectforindex" @(a.is_viewinmainpage == true ? "checked" : "")></td>
                                                <td>@a.name</td>
                                                <td>@a.year</td>
                                                <td>@a.description</td>
                                                <td><img src="~/Images/awards/@a.image" width="90" height="90" /></td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>
                                                <td>
                                                    <a href="/Admin/createoreditawards/@a.id"><i class="fa fa-edit"></i></a>
                                                    <a href="/Admin/removeawards/@a.id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#addbtn').click(function () {
            debugger;
            var selectforindex = [];
            var oTable = $("#table1").dataTable();
            $("input:checkbox", oTable.fnGetNodes()).each(function () {
                var tuisre = $(this).is(":checked");
                if (tuisre) {
                    var no = $(this).val();
                    selectforindex.push(no);
                   // alert("no:" + no + " is checked");
                }
            })
          


            // $.each($("input[name='selectforindex']:checked"), function () {
            //     debugger;
            //    selectforindex.push($(this).val());                
            // });
            if (selectforindex.length == 4) {
                $.get('/Admin/addmainpageawards', { elem: selectforindex.join(',') }, function (data) {
                    if (data == 1) {
                        window.location.reload();
                    }
                })
            }
            else {
                alert('Please select 4 awards');
            }
        })
    })
</script>