﻿
@{
    ViewBag.Title = "createoreditevents";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function () { nicEditors.allTextAreas() });
    //]]>
</script>
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Events</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdateevents", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="name" name="name" class="form-control" required data-msg-required="Please write name" placeholder="Name" value="@ViewBag.title1" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Location*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="location" name="location" class="form-control" required data-msg-required="Please write location" placeholder="Location" value="@ViewBag.location" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Start Date*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="date" id="startdate" name="startdate" class="form-control" required data-msg-required="Please write startdate" placeholder="startdate" value="@(Convert.ToDateTime(ViewBag.start_date).ToString("yyyy-MM-dd"))" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>End Date*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="date" id="enddate" name="enddate" class="form-control" required data-msg-required="Please write enddate" placeholder="enddate" value="@(Convert.ToDateTime(ViewBag.end_date).ToString("yyyy-MM-dd"))" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Start Time*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="time" id="starttime" name="starttime" class="form-control" required data-msg-required="Please write location" placeholder="starttime" value="@ViewBag.start_time" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>End Time*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="time" id="endtime" name="endtime" class="form-control" required data-msg-required="Please write endtime" placeholder="endtime" value="@ViewBag.end_time" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Description*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <textarea name="description" style="width: 100%;" id="description" data-msg-required="Please write description" required rows="12">
                                            @ViewBag.description
                                        </textarea>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Upload Image*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="file" id="RegImage1" name="RegImage1" accept=".jpg,.jpeg,.png,.gif" data-msg-required="Please upload image" @(Session["eid"] == null ? "required" : "") />
                                        <img id="PrevImage19" src="@ViewBag.image" title="Image is optional" width="440" height="211" alt="Image" /><br />
                                        <span>(Image dimensions should be 1440 x 390)</span>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/admin_assets/js/jquery.elevatezoom.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();

        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PrevImage19').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#RegImage1").change(function () {
            readURL1(this);
        });
        $(".zoom_10").elevateZoom({
            zoomWindowWidth: 200,
            zoomWindowHeight: 200
        });

    });
</script>

<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/events';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/events';
                    }

                })
            }
        });
    })
</script>