﻿@{
    ViewBag.Title = "CreateComments";
     Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Post Comment</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveComments", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Name*
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" required data-msg-required="Please write your Name" data-rule-required="true" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Email*
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="email" name="email" class="form-control" placeholder="Email" data-rule-required="true" required data-msg-required="Please write your Email" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Message*
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="message" name="message" class="form-control" placeholder="Message" data-rule-required="true" required data-msg-required="Please write message" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Website
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="website" name="website" class="form-control" placeholder="Website" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    success: function (resp) {
                        var id = '@ViewBag.blog_id';
                        // Hide the "busy" gif:
                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/Comments_on_blog/' + id;
                    },
                    error: function (resp) {
                        var id = '@ViewBag.blog_id';
                        // Hide the "busy" gif:
                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/Comments_on_blog/' + id;
                    }

                })
            }
        });
    })
</script>