﻿
@{
    ViewBag.Title = "CreateSubComments";
   Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Post Comment</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveSubComments", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Name*
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Name" data-rule-required="true" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Email*
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="email" name="email" class="form-control" placeholder="Email" data-rule-required="true" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Message*
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="message" name="message" class="form-control" placeholder="Message" data-rule-required="true" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">
                                    Website
                                </div>
                                <div class="col-md-6">
                                    <input type="text" id="website" name="website" class="form-control" placeholder="Website" />
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
