﻿@{
    ViewBag.Title = "events";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Event</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Admin/createoreditevents"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Title</th>
                                    <th>location</th>
                                    <th>Date &amp; Time</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Added On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.eventslist != null)
                                    {
                                        int i = 0;

                                        foreach (var a in ViewBag.eventslist)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.name</td>
                                                <td>@a.location</td>
                                                <td>
                                                    <span>Start Date : @(Convert.ToDateTime(a.start_date).ToString("dd MMM yyyy"))</span><br />
                                                    <span>End Date : @(Convert.ToDateTime(a.end_date).ToString("dd MMM yyyy"))</span>
                                                    <span>Timing : 
                                                    @(DateTime.ParseExact(a.start_time.ToString().Substring(0, 5), "HH:mm", System.Globalization.CultureInfo.CurrentCulture).ToString("hh:mm tt")) to 
                                                        @(DateTime.ParseExact(a.end_time.ToString().Substring(0, 5), "HH:mm", System.Globalization.CultureInfo.CurrentCulture).ToString("hh:mm tt"))
                                                    </span>
                                                </td>

                                                <td><img src="~/Images/events/@a.image" width="90" height="90" /></td>
                                                <td>
                                                    @if (a.end_date<DateTime.Now)
                                                    {
                                                        <span style="color:red;">CLOSED</span>
                                                    }
                                                    else if (a.end_date >= DateTime.Now && a.start_date<=DateTime.Now)
                                                    {
                                                        <span style="color:green;">STARTED</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:green;">NOT STARTED</span>
                                                    }
                                                </td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>
                                                <td>
                                                    <a href="/Admin/createoreditevents/@a.id"><i class="fa fa-edit"></i></a>
                                                    <a href="/Admin/removeevent/@a.id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

