﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Co-Curricular Activities | Art & Cultural Events | ODM Public School</title>
    <meta name="description" content="Integrating art & cultural activities in the curriculum keeps the child on its feet and pushes their creative brain. ODMPS ensures that its students are actively participating in any of the clubs- painting, creative workshops, dance or  vocal clubs or more. ">
    <meta name="keywords" content="Art And Cultural in odm, Art And Cultural in odm public school, Art And Cultural in odm school,  Art And Cultural of odm, Art And Cultural of odm public school,Art And Cultural of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/art_and_cultural" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Students Music.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-sm-offset-6">
                            <div class="mask">
                                <h1>CREATIVITY CAN ONLY BE NURTURED</h1>
                                <p>Creativity is not a skill to be learned, it is a skill to be honed and mastered</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Art And Cultural." href="/Studentlife/art_and_cultural" class="post post-page current-item">
                            <span property="name">Art And Cultural</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li class="active"> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Art And Cultural</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>Under the umbrella of cultural activities, ODM promotes creative thinking and artistic expression. The students get the opportunity to showcase their skills in visual as well as performing arts through a variety of programs like competitions, festivals, workshops, and shows. Not only does our art program nurture a passion for a specific art, it also inculcates an aesthetic sensibility and creativity in them.</p>

                                    <p>The following are some major highlights under the segment of Art and Culture-</p>
                                    <p>
                                        <strong>a. Painting and Craft-</strong> After from having a regular period in their curriculum, students are provided with various options like Thermocol Craft, Mask making, Origami, Paper Masks, Glass Painting, Card Making, Roof and Wall Decorations, Cloth Art, Collage Pot Painting, Rangoli, Best out of Waste, Spray Techniques
                                    </p>

                                    <p>
                                        <strong>b. Workshops and Creative Sessions</strong> for variety of these modes of paintings are organized with industry experts and special sessions are taken by these experts to inspire and bring out that sense of creativity among the children.
                                    </p>
                                    <p>
                                        <strong>c. Dance Club-</strong> ODM Proudly boasts of the Dance Club where children are taught classical dance forms like Odissi, Kathak and Western dance forms like Contemporary, Hip-Hop, Break Dance and etc.
                                    </p>
                                    <p>
                                        <strong>d. Vocals Club-</strong> Students with potential are enrolled into the Vocals Club where they are given classical music training and are prepared for various competitions and stage shows.
                                    </p>
                                    <p>
                                        <strong>e. Instrumentals Clubs-</strong> Instrumental Training in Guitar, Keyboard, Drums, Sitar, Flute, Tabla and other musical instruments is provided to the children.
                                    </p>
                                    <p>
                                        <strong>f. International Cultural Exchange Program-</strong> ODM has partnership with multiple schools in other South-East Asian Countries where the students go on Cultural Exchange Programs and learn about the culture of other countries.
                                    </p>
                                    <p>
                                        <strong>g. Programs in School-</strong> School organizes multiple cultural and music fests such as SPECTRA, Annual Sports, National Day Celebrations and other Musical Stage Shows in partnership with a variety of other organizations.
                                    </p>
                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/SANAT KUMAR NATH.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">SANAT KUMAR NATH</p><p class="designation">Student, Class XI</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                “I learned really much in this time. I really liked my teachers and learned and understand everything because they also explained everything to me, whenever I had a question.”
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>