﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Hone your Literary Skills | ODM Public School | Best CBSE School in Odisha</title>
    <meta name="description" content="ODM Public School is committed towards helping its students hone their literary skills from early years to their pre-university years.">
    <meta name="keywords" content="Literary Activities in odm, Literary Activities in odm public school, Literary Activities in odm school, Literary Activities of odm, Literary Activities of odm public school, Literary Activities of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/literary_activities" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Students Speech.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="mask">
                            <h1>YOUR PERSONALITY MATTERS AT THE REAL STAGE</h1>
                            <p>Engaging in literary activities within the classroom, and outside the classroom</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Literary Activities." href="/Studentlife/literary_activities" class="post post-page current-item">
                            <span property="name">Literary Activities</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li class="active"> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Literary Activities</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>ODM is committed to develop and hone the literary skills of the students from the very early years to their pre-university years. Apart from engaging in literary activities within the classroom, there are numerous post school activities which students can engage in based upon their interest.</p>
                                    <p>
                                        Here is a glimpse of our world of literary activities:
                                    </p>
                                    <ul class="">
                                        <li>We conduct various Speaking Activities in the school like <strong>Debate, Elocution, Extempore, and Speech Writing Competitions</strong> for all the students across Months.</li>
                                        <li>Students participate in Activities of the Month and Competitions like <strong>Essay Writing, Letter Writing, Paragraph Writing, Story Writing, Article Writing.</strong></li>
                                        <li>Students write-ups are displayed in <strong>School Magazine</strong> and the best of the write-ups find their places in <strong>ODM Times and ODM Spectrum</strong>. </li>
                                        <li>
                                            Spell Bee is a monthly event wherein the objective of this is to involve students in learning the correct spelling of words, their usage in sentences and enhance their speaking skills.
                                        </li>
                                        <li>
                                            Create-a-Disguise, Book Review and Report are events that help to enhance communication, presentation reading and comprehension skills, amongst the children.
                                        </li>
                                        <li>
                                            We plan to initiate Literary Week which will be a week-long festival to enhance the literary outlook of students. They are exposed to various activities ranging from, ‘ Meet the Author’, Author Study, Quizzing, Tongue Twisters, Puppet Shows, Story Telling Sessions, JAM Sessions, Elocution, etc during the week.
                                        </li>
                                    </ul>

                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/NAINA PRIYADARSINI NAYAK.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">NAINA PRIYADARSINI NAYAK</p><p class="designation">Student, Class IX</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM has a very unique school system that meets every parent’s needs. The after-school activities are something to look forward to and have each individual working hard. The after-school programs are very fun and provide students something to do rather than just doing homework all the time.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
