﻿@{
    ViewBag.Title = "trips and expeditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Educational Trips & Expeditions- Literary Learning & Growth</title>
    <meta name="description" content="ODM Public School facilitates learning through experience and arranges study tours, national and international tours so that its students can see and learn from the source.">
    <meta name="keywords" content="Trips And Expeditions in odm, Trips And Expeditions in odm public school, Trips And Expeditions in odm school, Trips And Expeditions of odm,Trips And Expeditions of odm public school, Trips And Expeditions of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/trips_and_expeditions" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Students  tour.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="mask">
                            <h1>EXPERIENCE AND LEARN FOR LIFE</h1>
                            <p>Trips and Expeditions for students are the best way to gain experience and learn</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Trips And Expeditions." href="/Studentlife/trips_and_expeditions" class="post post-page current-item">
                            <span property="name">Trips And Expeditions</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li class="active"> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Trips And Expeditions</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>We at ODM believe, Trips and Expeditions for students are the best way to gain experience and learn from the same. Trips and Expedition give a ground level reality check to students about various aspects, these experiences are so valuable that in nature that no amount of money can even buy them or fetch it for these students. </p>

                                    <p>At ODM, we majorly organize three kinds of trips and expeditions-</p>
                                    <p>
                                        <strong>a. Study Tours:</strong> A Variety of study tours are organized for all the children across the year. Some of the notable study tours include a visit to Botanical and Zoological Gardens, Tribal Fairs, Museums, Heritage Sites like Konark and Puri, factories like that of Chocolate, Coca-Cola and CIFA to give them an insight on Pisciculture.
                                    </p>

                                    <p>
                                        <strong>b. National Tours:</strong> At ODM, National Tours for interested students are planned to places like Ramoji Film City in Hyderabad, Science Centre in Kolkata and the Heritage Palaces of Jaipur and Lucknow.
                                    </p>
                                    <p>
                                        <strong>c. International Tours:</strong> International Tours in the last few years were organized to NEPAL, THAILAND, MALAYSIA and other south asian countries. Students spent time in these countries to understand and know more about their lifestyle, culture, festivals and celebrations.
                                    </p>

                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top"></span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/SANIYA KHAN.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">SANIYA KHAN</p><p class="designation">Student, Class IX</p>
                                </div>
                            </div><blockquote class="testimonial">“Loved it. ODM Teachers are very friendly and helping. It’s like a big family. The lessons are very good and the atmosphere between students, too. If i had to choose again, I would choose them.”</blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>