﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title></title>
    <style>
        body {
            padding: 0px;
            margin: 0px;
            width: 100%;
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            font-family: sans-serif;
        }

        a, a:hover {
            text-decoration: none;
            /*//color: white !important;*/
        }

        .mainpanel {
            /*width: 80%;*/
            /*box-shadow: 2px 2px 6px 2px #a59898d9;*/
            background-color: #f7e4e487 !important;
        }

        .middlepanel {
            width: 85%;
            background-color: white;
            padding-bottom: 1em;
        }

        .downloadpanel {
            background-color: black;
            color: white !important;
            padding: 10px 40px;
        }

        .maintablepanel {
            width: 50%;
        }

        .panelheading {
            text-align: center;
            font-size: 25px;
            /*font-weight: 600;*/
            color: white;
            padding-bottom: 10px;
            text-transform: uppercase;
        }

        @media all and (max-width:800px) {
            .mainpanel {
                /*width: 100%;
                background-color: bisque !important;*/
            }

            .middlepanel {
                width: 95%;
            }

            .downloadpanel {
                background-color: black;
                color: white !important;
                padding: 5px 5px;
                font-size: 12px;
            }

            .maintablepanel {
                width: 80%;
            }

            .panelheading {
                text-align: center;
                font-size: 20px;
                /*font-weight: 500;*/
                color: white;
                padding-bottom: 15px;
            }
        }

        @media all and (max-width:460px) {
            .maintablepanel {
                width: 95%;
            }
        }
    </style>
</head>
<body>
    <!--<div style="height:2em;"></div>-->
    <table style="width:100%;" cellspacing="0" cellpadding="0">
        <tr style="    background-image: radial-gradient(#190f0f, #ed3237);">
            <td valign="top" style="height:180px;">
                <div style="height:55%;background-color:transparent;"></div>
                <div style="height:45%;background-color:white;"></div>
            </td>
            <td valign="top" class="maintablepanel">
                <div style="text-align:center;padding-top:10px;">
                    <img src="http://admissions.thesuperguard.in/images/odm%20logo.png" style="width:100px;" />
                </div>
                <div class="panelheading">
                    <b>Thank</b>&nbsp;<span>You!</span>
                </div>
                <table style="width:100%;background-color:white; border: 1px solid #d5bebe;color:black;" cellspacing="0" cellpadding="0">
                    <tr style="background-color: #c51616;">
                        <td style="text-align: center;"><img src="http://beta3.thedigichamps.com/Images/mail.png" /></td>
                    </tr>
                    <tr>
                        <td style="    padding-top: 11px;" colspan="2">
                            <label style="font-size: 1rem;font-weight: 600;padding-left:20px;">Dear {{parent}},</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:5px;" colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="text-align:justify;padding-left:20px;padding-right:20px;" colspan="2">
                            <label style="font-size: 0.9rem;">

                                Thank you for registering in School Reunion 2019 at ODM! Please note, only after the verification of your credentials, you will be sent an e-invite by the school team. Your verification will depend on whether you are a genuine student passed out of ODM from any session before 2015 (Either from Class X or Class XII)

                            </label>
                            <br /><br /><br />
                                        <div style="text-align: center;">
                                            
                                            <a class="downloadpanel" href="https://odmps.org/" target="_blank" rel="noopener noreferrer" style="background-color: #c51616;color: white !important;">Visit ODM's Website</a>
                                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:30px;" colspan="2"></td>
                    </tr>
                    <tr>
                        <td style="padding-left:20px;" colspan="2">
                            <div><label style="font-size: 0.9rem;"><strong>Team ODM</strong></label></div>
                            <div><label style="font-size: 0.8rem;"><strong>Hoping for the best!</strong></label></div>

                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:20px;    padding-top: 24px;" colspan="2">
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Address: </strong>Sishu Vihar,Infocity Road,Patia ,BBSR-24</label></div>
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Phone: </strong>18001202316</label></div>
                            <div><label style="font-size: 0.7rem;color:black;"><strong>Email: </strong><a href="mailto:info@odmps.org">info@odmps.org</a></label></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:2em;"></td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <a href="https://www.facebook.com/OdmEducationalGroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/facebook.png" /></a>&nbsp;&nbsp;
                            <a href="https://www.instagram.com/odmps/" target="_blank" rel="noopener noreferrer"><img src="http://admissions.thesuperguard.in/images/instagram.png" /></a>&nbsp;&nbsp;
                            <a href="https://twitter.com/odmedgroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/twitter.png" /></a>&nbsp;&nbsp;
                            <a href="https://www.youtube.com/user/odmps" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/youtube.png" /></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:2em;"></td>
                    </tr>
                </table>
            </td>
            <td valign="top" style="height:180px;">
                <div style="height:55%;background-color:transparent;"></div>
                <div style="height:45%;background-color:white;"></div>
            </td>
        </tr>
       
        <!--<tr style="background-image: linear-gradient(180deg,#201c1c 10%,#1e1e1f 100%); border-top: 1px solid #732829;">
            <td style="text-align:center;">
                <img src="http://beta3.thedigichamps.com/Images/mail.png" />
            </td>
        </tr>-->
    </table>
    <!--<table align="center" class="mainpanel">
            <tr>
                <td style="width:100%;">


                    <img src="http://odmps.org/admin_assets/images/final%20odm%20group%20logo.jpg" style="height: 90px;    width: 170px;padding-left: 31px;padding-top: 16px;" />
    </tr>
            <tr>
                <td style="height:1em;"></td>
            </tr>
            <tr>
                <td>
                    <table align="center" class="middlepanel" cellpadding="0" cellspacing="0">
                        <tr style="background-image: linear-gradient(180deg,#ea3637 10%,#1e1e1f 100%);   ">
                            <td style="text-align: center;padding-left: 15px;"><img src="http://beta3.thedigichamps.com/Images/mail.png" /></td>
                        </tr>
                        <tr>
                            <td style="    padding-top: 11px;" colspan="2">
                                <label style="font-size: 1rem;font-weight: 600;padding-left:20px;">Dear {{parent}},</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:5px;" colspan="2"></td>
                        </tr>
                        <tr>
                            <td style="text-align:justify;padding-left:20px;padding-right:20px;" colspan="2">
                                <label style="font-size: 0.9rem;">

                                    Thank you for showing interest in ODM! Hopefully, we will have a journey destined together, and if we do, be rest assured that your child will be in safe hands.

                                </label>
                                <br /><br /><br />
                                <div style="text-align: center;">

                                    <a class="downloadpanel" href="../Doc/brochure-a5-2020-print.pdf" target="_blank" rel="noopener noreferrer" style="background-color: black;color: white !important;padding: 10px 40px;">Download Information Booklet 2020</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:30px;" colspan="2"></td>
                        </tr>
                        <tr>
                            <td style="padding-left:20px;" colspan="2">
                                <div><label style="font-size: 0.9rem;"><strong>Team Admissions</strong></label></div>
                                <div><label style="font-size: 0.8rem;"><strong>Hoping for the best !</strong></label></div>

                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:20px;    padding-top: 24px;" colspan="2">
                                <div><label style="font-size: 0.7rem;color:black;"><strong>Address: </strong>Sishu Vihar,Infocity Road,Patia ,BBSR-24</label></div>
                                <div><label style="font-size: 0.7rem;color:black;"><strong>Phone: </strong>18001202316</label></div>
                                <div><label style="font-size: 0.7rem;color:black;"><strong>Email: </strong><a href="mailto:admission@odmegroup.org">admission@odmegroup.org</a></label></div>
                            </td>
                        </tr>

                    </table>


                </td>
            </tr>
            <tr>
                <td style="height:1em;"></td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <a href="https://www.facebook.com/OdmEducationalGroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/facebook.png" /></a>&nbsp;&nbsp;
                    <a href="https://www.instagram.com/odmps/" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/instagram-logo.png" /></a>&nbsp;&nbsp;
                    <a href="https://twitter.com/odmedgroup" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/twitter.png" /></a>&nbsp;&nbsp;
                    <a href="https://www.youtube.com/user/odmps" target="_blank" rel="noopener noreferrer"><img src="http://beta3.thedigichamps.com/Images/youtube.png" /></a>
                </td>
            </tr>
            <tr>
                <td style="height:2em;"></td>
            </tr>
        </table>-->


</body>
</html>
